[2015-02-04 23:33] buttso opened #3 "Project description"
I'm not sure the description of this project isn't fully correct.

It doesn't provide images per-se - there's nothing I can download and directly import as a docker image.

What it does it provide a project that produce a docker image, once the relevant binary distributions have been downloaded and copied into the project and the buildDockerImage script executed.

[2015-02-04 23:35] Djelibeybi commented on #3
The project description has been recently updated to be more accurate, but the repo does store Oracle Linux images (in the OracleLInux-images branch) which are imported into the Docker Hub Registry. We've also renamed the repository to "docker" to be more accurate.

[2015-02-04 23:35] #3 closed

[2015-02-04 23:41] buttso commented on #3
The master branch contains OracleWebLogic and OracleCoherence folders which don't provide docker images that can be downloaded and used.  They need to be actioned to produce an image.  Just pointing that out since they are the immediately visible items seen.  The description could note that this repo stored Docker images for OracleLinux and Docker configuration projects for WebLogic and Coherence.

[2015-02-04 23:42] Djelibeybi commented on #3
The description is now: "Official source for Docker configurations, images, and examples of Dockerfiles for Oracle products"

Note that we expect more Oracle products to arrive in the repo over time.

[2015-02-04 23:44] buttso commented on #3
Cool thanks - this is a great initiative.

[2015-03-29 14:03] jeqo opened #7 "Error running docker/OracleWebLogic/samples/12c-domain$ sudo docker build ."
I have build the *oracle/weblogic:12.1.3-dev* without any problem. But when I try to build a container based on the samples/12c-domain directory, I get this error:

[code]

Removing the '*' character it works.

Let me know this is an issue to create a pull request.

[2015-03-29 14:23] #7 closed

[2015-03-29 14:23] jeqo commented on #7
Fixed updating Docker to 1.5.0

[2015-04-07 15:35] sardak opened #9 "Container start fails with missing /usr/bin/my_print_defaults reference from entrypoint.sh"
I built the MySQL 5.5 image and tried to start it with the command:

    docker run --name=mysql -d -p 3306:3306 -e MYSQL_ROOT_PASSWORD=root oracle/mysql:5.7 /entrypoint.sh mysqld

The mysql process doesn't start and when I do a "docker logs mysql" I get the following error:

    /entrypoint.sh: line 8: /usr/bin/my_print_defaults: No such file or directory

[2015-04-07 21:11] Djelibeybi commented on #9
I have notified the MySQL team of this issue. Though, there seems to be a confusion between your statement and the command. You mention MySQL 5.5, but you're running oracle/mysql:5.7.

Finally, do you have the full output of the initial build of the container? My guess is that the yum command that actually installs MySQL from our repositories is failing, so the binaries are not being properly inst

[2015-04-08 08:06] sardak commented on #9
Hi Djelibeybi,

I get the issue on both 5.5 and 5.7. I don't think the yum command is failing because I tried downloading the artifact locally and changing the Dockerfile to use it.

Rather, I think the issue lies with the entrypoint.sh script.

On line 8 you have:

    ret=$(/usr/bin/my_print_defaults $section | grep '^--'${option}'=' | cut -d= -f2-)

I checked in the container, there's no `/usr/

[2015-04-08 20:39] Djelibeybi commented on #9
The MySQL Dockerfiles and entrypoint scripts have been updated with the latest from the MySQL team. Please download the latest version and try again.

[2015-04-08 20:39] #9 closed

[2015-04-09 08:16] sardak opened #10 "ENV line issue on mysql 5.5, 5.6 and 5.7 Dockerfiles"
Hey fellas,

There's an issue running the Dockerfiles for mysql 5.5 through 5.7:

    ENV PACKAGE_URL=http://repo.mysql.com/yum/mysql-5.7-community/docker/x86_64/mysql-community-server-minimal-5.7.7-0.3.rc.el7.x86_64.rpm

Y'all need to remove the `=` sign.

[2015-04-09 08:35] Djelibeybi commented on #10
I have reported this to the MySQL team.

For any further MySQL bugs and issues, please submit a bug report at bugs.mysql.com under the category “MySQL Package Repos and Docker”.

I have asked them to update the README in their Github repo (we're just hosting a submodule version of the upstream repo at https://github.com/mysql/mysql-docker) so that it's clearer too. Sorry for the confusion.

[2015-04-09 08:35] #10 closed

[2015-04-09 08:37] Djelibeybi commented on #10
Reported upstream: http://bugs.mysql.com/bug.php?id=76633&thanks=4

[2015-04-27 12:30] gamma opened #13 "There should be official Versions of Weblogic on DockerHub."
There should be official Versions of Weblogic on DockerHub.

[2015-04-27 12:56] Djelibeybi commented on #13
There cannot be versions on the Docker Hub because WebLogic cannot be distributed in that way. Also, there is no license acceptance mechanism.

[2015-04-27 12:56] #13 closed

[2015-05-27 18:28] tadamo opened #16 "Image Suggestion - DB Client"
Just curious if there's any plans to expand on the current Docker images available. I would have use for an image that contained the full Oracle DB client (or whatever client has sqlldr included).

Thanks!

[2015-05-27 19:41] Djelibeybi commented on #16
Docker images are produced by the product teams. I'll send your request to the RDBMS team for them to evaluate.

[2015-05-27 19:41] #16 closed

[2015-05-28 07:10] bit-man opened #17 "Oracle XE images"
Even that there's some Oracle XE images available at docker (wnameless/oracle-xe-11g and others) would be nice to have the Oracle official docker stuff

[2015-05-28 07:11] Djelibeybi commented on #17
Those images contravene the Oracle license for XE and should not be used.

[2015-05-28 07:11] #17 closed

[2015-05-28 19:40] brunoborges commented on #17
@bit-man as Avi said, those images are not in accordance to the license. But we will work with the Oracle DB product team and see if we can come up with a solution for this. Anyway, thanks a lot for showing interest in an official Dockerfile for Oracle DB. We'll keep you and the community posted.

[2015-05-28 21:26] bit-man commented on #17
Thanks for taking care.

[2015-06-16 20:08] kevinhooke opened #18 "Weblogic 12c image commEnv.sh has DOS CRLF end of line terminators"
When you start the Weblogic 12c image, /u01/oracle/wls12130/wlserver/common/bin/commEnv.sh fails with errors:

./commEnv.sh: line 4: $'\r': command not found
./commEnv.sh: line 18: syntax error: unexpected end of file

indicating it's in dos format. If you replace the \r\n end of lines then it's fine.

Not sure if this is an issue with the image, the dockerfile script, or did I use the wrong downl

[2015-06-17 19:42] brunoborges commented on #18
@kevinhooke what environment is yours?

[2015-06-20 05:14] maniankara opened #19 "oraclelinux:7 error 404 but 7.0 works"
Hi,
----------------- clip -----------------
Unable to find image 'oraclelinux:7' locally
Pulling repository oraclelinux
8a2b759d9dd8: Error pulling image (7) from oraclelinux, HTTP code 400
8c3e49cb06dc: Download complete
90fed8b1ceab: Error pulling dependent layers
FATA[0014] Error pulling image (7) from oraclelinux, HTTP code 400
----------------- clip -----------------

Thanks,
 - Anoop

[2015-06-20 05:26] Djelibeybi commented on #19
This is an issue with the Docker Hub Registry, not our image. Please log a bug with Docker themselves. I'm travelling today and tomorrow, so I can't log it properly myself.

[2015-06-20 05:26] #19 closed

[2015-06-22 22:23] kevinhooke commented on #18
I'm running Docker on Vagrant on Windows 7 with a chef/centos-7.0 box, attempting to run WLS 12.1.3 on the oraclelinux:7 base image, per the Dockerfile from here. Should I try a different OS box on Vagrant? Any suggestions?

[2015-06-23 10:21] AlexanderShniperson opened #20 "Impossible to pull image from docker repository"
coreos01 core # docker pull oraclelinux
Pulling repository oraclelinux
8a2b759d9dd8: Error pulling image (latest) from oraclelinux, HTTP code 400
8c3e49cb06dc: Download complete
90fed8b1ceab: Error pulling dependent layers
FATA[0078] Error pulling image (latest) from oraclelinux, HTTP code 400

[2015-06-23 10:29] AlexanderShniperson opened #21 "Impossible to load image"
coreos01 core # docker load -i /tmp/oraclelinux-7.1.tar.xz
FATA[0005] Error response from daemon: open /var/lib/docker/tmp/docker-import-913281699/repo/boot/json: no such file or directory

i am on CoreOS 695.2.0

[2015-06-23 15:45] Djelibeybi commented on #21
You can't load the oraclelinux-7.1.tar.gz, it's not an export, it's a root filesystem. You need to use the associated Dockerfile and build FROM it.

[2015-06-23 15:45] #21 closed

[2015-06-23 15:46] Djelibeybi commented on #20
This is an upstream issue on the Docker Hub. I'll log an issue there. It may take a while to fix, given that everyone is at Dockercon today.

[2015-06-23 15:46] #20 closed

[2015-06-23 15:57] Djelibeybi commented on #20
https://github.com/docker-library/official-images/issues/844

Note that I can't reproduce this issue on Oracle Linux 6 using Docker 1.6.1.

[2015-06-24 03:14] Djelibeybi commented on #20
Note that neither the Docker team nor I can reproduce this. If it happens again, please log a direct request with Docker at http://support.docker.com so they can ask for more detailed logs.

[2015-06-24 03:47] brunoborges commented on #18
Try building the image from scratch, but on a regular VirtualBox CentOS machine. If that works, it should work through Vagrant. If it doesn't work, then it's something related to Docker on CentOS.

FYI, we don't certify at this moment WebLogic inside a Docker container running on a host any different than Red Hat or Oracle Linux.

[2015-06-24 17:02] kevinhooke commented on #18
Thanks, I'll give that a try in the next day or so and report back.

[2015-07-07 12:56] jmiddleton opened #23 "Image size optimization"
Today I built oracle/soa:12.1.3-dev image and for my surprise the size of it was around 14GB. Using `docker history` (see below) I can see some commands are unnecessary duplicating the total size.  I would like to suggest some changes on the Dockerfile file to optimize the final image:

* Use ADD to copy $SOA_ZIP file.
* Group together in a RUN some operations.

For example in my local I have grou

[2015-07-07 17:48] jeqo commented on #23
@jmiddleton: let me know if you refer to this repo: https://github.com/jeqo/oracle-docker Please if you could create a pull-request with you improvements would be great.

[2015-07-07 20:52] Djelibeybi commented on #23
We don't have OracleSOA in this repo (yet), so we need to merge in the SOA stuff first before this is applicable.

[2015-07-07 20:52] #23 closed

[2015-07-22 11:16] talberto opened #24 "use /dev/urandom for weblogic:12.1.3-dev image"
The dockerfile used for building the image oracle/weblogic:12.1.3-dev defines but doesn't use the env var CONFIG_JVM_ARGS. The result is that weblogic takes 10 mins to start (in my machine) if we use the image weblogic:12.1.3-dev as the base image.

I propose adding the definition of the env var to the .bashrc file using something like that in the Dockerfile:
[code]

[2015-07-23 04:28] brunoborges commented on #24
Thanks @Djelibeybi for calling my attention to this one. I'll be reviewing by the end of this week. Likely to merge into the sample code since it looks to be a reasonable configuration. Will test though.

Thanks @talberto for your suggestion.

[2015-07-28 16:34] brunoborges commented on #18
@kevinhooke did it work? Also, if you checkout the code using a proper Git client on Windows, the CRLF is fixed automatically

[2015-07-30 17:10] brunoborges commented on #18
This is not a problem with the source code, but how code is checked out into Windows environments.

[2015-07-30 17:10] #18 closed

[2015-08-06 23:04] anupdugar opened #25 "Unable to run on OSX"
I tried following steps in https://github.com/oracle/docker/tree/master/OracleWebLogic but i am not able to create the image.
Had to fix : https://github.com/oracle/docker/blob/master/OracleWebLogic/dockerfiles/buildDockerImage.sh to use md5 instead of md5sum

It creates an image for oraclelinux but not for oracle/weblogic:12.1.3 as expected.

Here's the log from my run:
[code]

[2015-08-06 23:06] Djelibeybi commented on #25
Have you downloaded the fmw_12.1.3.0.0_wls.jar  file as per the instructions here: https://github.com/oracle/docker/blob/master/OracleWebLogic/dockerfiles/12.1.3/fmw_12.1.3.0.0_wls.jar.download

[2015-08-07 02:26] anupdugar commented on #25
@Djelibeybi No, i havn't tried it. But i was hoping that i could reuse the image to setup weblogic without the need to explicitly download.

[2015-08-07 02:31] Djelibeybi commented on #25
You can't use the image without downloading the Fusion Middleware, WebLogic and Java components first. These components cannot be shipped on GitHub and must be downloaded directly from Oracle so that you can accept the license terms.

Once you have the components in place, you can create an inital image and save it so that creating new images becomes instant.

[2015-08-07 02:31] #25 closed

[2015-08-11 09:18] ovanekem commented on #24
I actually had to also set the same configuration when starting the domain (after domain creation), otherwise the startup of the domain was taking way too long (+10 mins).
In order to do that I added the following in the Dockerfile for domain creation (in samples/12c-domain):

[code]

Also at same place I have added remote debugging information like -Xdebug -Xnoagent...

[2015-08-11 13:45] brunoborges commented on #24
I will add the JAVA_OPTIONS but I will leave the debugging paramaters out since this is a sample and users should come up with their own.

Thanks @ovanekem

[2015-08-21 17:15] #24 closed

[2015-09-23 17:42] gordontyler commented on #18
You should be using .gitattributes in your repo to force .sh files to use eol-LF.

[2015-09-24 06:57] wkoertgen opened #28 "image oraclelinux not fit for production ?"
#### ulimit -Hn is 4096 and cannot be increased

[root@bdb014068c11 tmp]# ulimit -Hn 65536
bash: ulimit: open files: cannot modify limit: Operation not permitted

Oracle needs ulimit -Hn 65536.

For the details please see http://wkoertgen.blogspot.de/2015/09/docker-oracle-rdbms-server-12cr1.html.

For training purposes as e.g. https://github.com/wkoertgen/train.docker.dataguard it is not crucial,

[2015-09-24 07:07] Djelibeybi commented on #28
First, the Oracle Linux is a fully supported production image. However, Oracle Database is not supported under Docker, regardless of platform. This has nothing to do with Oracle Linux and should be addressed to the Database team themselves.

However, the inability to set ulimit is not a restriction within the Oracle Linux image, but within Docker itself. You can't do it in any Docker container. Fo

[2015-09-24 07:07] #28 closed

[2015-09-24 07:13] Djelibeybi commented on #28
For reference, here is a discussion on the docker-user mailing list about this same issue: https://groups.google.com/forum/#!topic/docker-user/T45Kc9vD804

[2015-09-24 07:15] wkoertgen commented on #28
Thanks a lot, Avi, for your clarifications.

Am 24.09.2015 um 09:13 schrieb Avi Miller:

--
Freundliche Grüsse / Kind Regards

Hans Werner Körtgen
DBLAB Körtgen
Sülzgürtel 86
D-50937 K ö l n

DEUTSCHLAND / GERMANY

Mobile: +49 162 6272476 (NEU !)
Blog: wkoertgen.blogspot.de

[2015-09-24 18:17] brunoborges commented on #18
@gordontyler would you be kind to send a PR ?

[2015-09-24 19:31] gordontyler commented on #18
Done: #29

[2015-09-25 18:06] derekmwright opened #30 "Stale object in .git taking up 203MB"
.git/objects/pack$ ls -lh                                                                                                                                                               master
total 203M
-r--r--r--. 1 user group  23K Sep 25 14:01 pack-b1813bd685222dd05abacc315057a384962cf448.idx
-r--r--r--. 1 user group 203M Sep 25 14:01 pack-b1813bd685222dd05abacc315057a384962cf448.pack

The only w

[2015-09-25 20:21] Djelibeybi commented on #30
It's not just a few text files. If you switch to the `OracleLinux-images` branch, you'll find several large binary tarballs (40MB-60MB each) which are the root filesystem sources for the official Oracle Linux images on the Docker Hub.

[2015-09-28 06:40] brunoborges commented on #18
Thanks a lot @gordontyler !

[2015-10-06 19:44] derekmwright commented on #30
Gotcha, it was a hefty clone. Thanks for the response.

[2015-10-06 19:44] #30 closed

[2015-10-12 21:39] jedi132000 opened #31 "buildDockerImage"
I am having issues running the build script, please help!!

![dockerbuild](https://cloud.githubusercontent.com/assets/14984442/10439425/cf8d26d6-7107-11e5-9132-c9b4cd0be972.PNG)

[2015-10-12 21:40] Djelibeybi commented on #31
You haven't downloaded the required components from Oracle. You need to download WebLogic and Java first.

[2015-10-12 21:40] #31 closed

[2015-10-12 21:41] Djelibeybi commented on #31
Check the .download files in the repository. They tell you where to download the actual components from.

[2015-10-12 21:52] jedi132000 commented on #31
See the image below

![image](https://cloud.githubusercontent.com/assets/14984442/10439726/f4bd5262-7109-11e5-8bca-da596a964bf0.png)

[2015-10-12 21:53] Djelibeybi commented on #31
Exactly. You are missing the actual files. The .download files are placeholders that contain instructions that point to where to download the actual binaries from Oracle for FMW, WLS and Java.

[2015-10-12 21:57] jedi132000 commented on #31
Thanks

[2015-10-12 23:53] jedi132000 commented on #31
Having this issue, any suggestions.
![image](https://cloud.githubusercontent.com/assets/14984442/10441800/cdfd45ae-711a-11e5-9b4b-878803df7f61.png)

[2015-10-12 23:57] Djelibeybi commented on #31
First, it would be much better for you to cut and paste the errors into GitHub, rather than having to read a screenshot.

Second, it looks like you're running out of memory trying to start WebLogic. Please open another issue for this (with the actual error pasted, not a screenshot, please). I'll then assign that to the WLS guys.

[2015-10-13 00:45] jedi132000 commented on #31
Ok, thanks for the timely response.
I have resized my server but i am still getting an Error starting weblogic

"[8] System error: exec: "startWeblogic.sh": executable file not found in $PATH"

[2015-10-13 00:47] Djelibeybi commented on #31
As I mentioned above, this is an unrelated issue. Please open a new issue and paste the entire output, including the error, for better support.

[2015-10-13 00:50] jedi132000 opened #32 "Starting Weblogic"
I am trying to start weblogic but running into issues.

oladimeji@TrainingServer:~/test/docker/OracleWebLogic/samples/12c-domain$ docker run -d -p 8001:8001 --name=AdminServer  samplewls:12.1.3 startWeblogic.sh
c5216eac91034f606330305fb2b8febd9f127237ca999d86006be23bbf07133a
Error response from daemon: Cannot start container c5216eac91034f606330305fb2b8febd9f127237ca999d86006be23bbf07133a: [8] Sys

[2015-10-13 18:20] jedi132000 commented on #32
Any pointers or updates?

[2015-10-13 19:38] Djelibeybi commented on #32
This is not an official support channel. If you have Oracle Support for WebLogic, you can open a Support Request via My Oracle Support at https://support.oracle.com.

Otherwise, you'll have to wait until @brunoborges can review this issue.

[2015-10-13 20:49] jedi132000 commented on #32
ok, will do.

[2015-10-13 23:01] brunoborges commented on #32
The script is called startWebLogic.sh (with capital L). Try that. Linux is case-sensitive.

[2015-10-13 23:32] jedi132000 commented on #32
Thank you, it ran
but the admin console is not coming up.
[http://xxx.xx.x.xx:8001/console](http://xxx.xx.x.xx:8001/console).

from the read me, do i have to enter it exactly as above  wih the brackets and all that or
just
http://xxx.xx.x.xx:8001/console.

i used several types of browsers.

[2015-10-13 23:33] jedi132000 commented on #32
[http://xxx.xx.x.xx:8001/console](http://xxx.xx.x.xx:8001/console).

[2015-10-13 23:37] brunoborges commented on #32
It will depend on how you are actually running the container and how you are configuring the network of your container. Try to attach port 8001 to your host, at 8001 too, then access it as http://localhost:8001/console

[2015-10-13 23:57] jedi132000 commented on #32
sudo docker run -d -p 8001:8001 --name=wlsadmin samplewls:12.1.3 startWebLogic.sh
sudo docker inspect --format '{{ .NetworkSettings.IPAddress }}' wlsadmin
got the IP
and tried to access the URL
how do i attach a port to the localhost please advise.

[2015-10-14 00:06] brunoborges commented on #32
Please check Docker documentation for details on how to properly attach ports to host environment.

Issue closed.

[2015-10-14 00:06] #32 closed

[2015-10-14 02:21] jedi132000 commented on #32
oladimeji@TrainingServer:~/test/docker/OracleWebLogic$ docker run -d -p 8001:8001 --name=WlsAdmin samplewls:12.1.3 startWebLogic.sh
5048f0bef96668c6a4721f573f86647749b5d11555d518dc34b48b6ddf639816
oladimeji@TrainingServer:~/test/docker/OracleWebLogic$ docker inspect --format '{{ .NetworkSettings.IPAddress }}' WlsAdmin
172.17.0.26

I understand this isn't a support channel, but i am yet to access t

[2015-10-14 02:50] brunoborges commented on #32
You are facing Docker networking issues, nothing related to WebLogic. Again, attach the port 8001 to the host, open the browser (on your host) and just go to http://localhost:8001/console

[2015-10-14 15:03] jedi132000 commented on #32
WLS 12.1.3. up and running and i can access the console.
Appreciate the patience and support

[2015-10-14 15:06] jedi132000 commented on #32
docker run  -p xx.xx.xx.xx:8001:8001 --name=wlsadmin  -t samplewls:12.1.3
docker command for attaching port
hope it helps

[2015-10-26 13:27] hermith opened #36 "Location of wlst.sh is wrong in the new 12.2.1 samples"
Location in the install.file is set to `mw1221`, as shown [here](https://github.com/oracle/docker/blob/a1e91b80979180c82ed67710b7e4e036847b8216/OracleWebLogic/dockerfiles/12.2.1/install.file#L4). Yet `wlst.sh` is executed from the "old" `weblogic` location as shown [here](https://github.com/oracle/docker/blob/master/OracleWebLogic/samples/1221-domain/Dockerfile.emptydomain#L51), causing an error i

[2015-10-26 15:05] hermith opened #38 "jaxrs2 template not updated for new 12.2.1 samples"
jaxrs2 deployment fails because the template has not been updated.

`template-info.xml` only needs to have ` version="12.1.3.0.0"`changed to to ` version="12.2.1.0.0"`
`config/config.xml` needs to change:

    <domain-version>12.1.3.0.0</domain-version>
    <configuration-version>12.1.3.0.0</configuration-version>
    <library>
      <name>jax-rs#2.0@2.5.1</name>
to:

    <domain-version>12.2.1.0.

[2015-10-26 18:00] brunoborges commented on #38
No need for JAX-RS since WLS 12.2.1 is Java EE 7 certified. This issue has been fixed by PR #37

[2015-10-26 18:00] #38 closed

[2015-10-27 09:07] hermith commented on #36
This is also fixed by PR #37.

[2015-10-27 09:07] #36 closed

[2015-11-11 20:27] rodlogic opened #41 "Provide based docker images in docker hub"
These scripts are nice, specially the ones to create custom domains on top of the base images, but it would be even simpler if these images were created and uploaded by you directly to docker hub or your registry of choice.

[2015-11-11 20:28] rodlogic opened #42 "Is there are way to reduce the image size?"
I have built this locally and have an image with 1.7Gb. When I am basically interested in running development domains on Weblogic this becomes a drag across the team.

[2015-11-11 20:30] rodlogic opened #43 "Parameterize the JDK update"
The ./buildDockerImage.sh builds a docker image assuming JDK 8u60, but the latest is u66. Maybe a good idea to parameterize this or be a bit more flexible on the specific update.

[2015-11-11 20:31] Djelibeybi commented on #41
These images cannot be uploaded to the Docker Hub because they require Oracle proprietary software which requires the acceptance of the Oracle license terms prior to download/use.

We are investigating our own Oracle Docker Registry but this has no ETA.

[2015-11-11 20:31] #41 closed

[2015-11-11 20:32] Djelibeybi commented on #42
I'm not sure if there's a way to reduce the overall size, hence I'm assigning this to @brunoborges. However, if you use `btrfs` as your storage option, Docker will automatically create subvolumes for each layer and reuse them across containers.

[2015-11-11 21:37] brunoborges commented on #42
The scripts provided here are starters, that users can use to kick off their WebLogic on Docker deployments. Our certification and support is over the topologies as described in the [whitepaper](http://www.oracle.com/technetwork/middleware/weblogic/overview/weblogic-server-docker-containers-2491959.pdf) and related documentation.

Users are free to use different Docker techniques to achieve better

[2015-11-11 21:37] #42 closed

[2015-11-11 21:39] brunoborges commented on #43
Users are free to use whatever JDK they want (and that are certified by WLS versions, if support is required). The scripts are starters only. Feel free to customize as you wish.

[2015-11-11 21:39] #43 closed

[2015-11-20 00:06] rogerhill01234 opened #44 "stat wls1213_dev_update3.zip: no such file or directory"
I am trying to install docker container for WebLogic 12.1.3 but getting into an error:

stat wls1213_dev_update3.zip: no such file or directory
There was an error building the image.

Here is the full log of the execution:

$ sh buildDockerImage.sh -v 12.1.3 -d
=====================
Building image 'oracle/weblogic:12.1.3-dev' based on 'developer' distribution...
Sending build context to Docker dae

[2015-11-20 00:10] Djelibeybi commented on #44
Have you downloaded wls1213_dev_update3.zip from OTN? It's not included, you need to download it manually.

[2015-11-20 00:10] #44 closed

[2015-11-20 00:11] Djelibeybi commented on #44
Double check the README for more info: https://github.com/oracle/docker/blob/master/OracleWebLogic/README.md

[2015-11-20 01:24] brunoborges commented on #44
Thanks Avi @Djelibeybi =)

[2015-11-20 01:24] brunoborges opened #45 "Report a warning message when building WebLogic image with missing files"

[2015-11-20 17:43] rogerhill01234 opened #46 "Cannot reach admin console after launching image"
I have been able to launch WL server following the instructions in the git page. But when I connect to the console, i get a "connection refused" error. (I am running the docker container on Windows)

$ docker ps -l
CONTAINER ID        IMAGE               COMMAND              CREATED             STATUS              PORTS                          NAMES
08e88ed803c7        samplewls:12.1.3    "startW

[2015-11-20 19:29] brunoborges commented on #46
I see you are using Docker Machine. If you don't use Docker Machine, do you still face this issue?

Can you please report the docker inspect of this container?

[2015-11-20 20:19] rogerhill01234 commented on #46
Here is the inspect of the container:

$ docker inspect wlsadmin
[
{
    "Id": "08e88ed803c70205464165f41fbc4a75bc2391c5d469cc15d80d89bf7e59d818",
    "Created": "2015-11-20T17:07:41.767577112Z",
    "Path": "startWebLogic.sh",
    "Args": [],
    "State": {
        "Status": "running",
        "Running": true,
        "Paused": false,
        "Restarting": false,
        "OOMKilled": false,

[2015-11-20 20:22] rogerhill01234 commented on #46
I am not sure how you can avoid using docker machine. Docker machine is just an instance of docker daemon as I understand. I have only one daemon running.

$ docker-machine ls
NAME       ACTIVE   DRIVER       STATE     URL                         SWARM
default    *        virtualbox   Running   tcp://192.168.99.100:2376
machine1   -        virtualbox   Stopped

[2015-11-20 20:27] Djelibeybi commented on #46
Docker Machine is a way to manage instances of the Docker Engine. In this case, it's created a VirtualBox VM on your host and is running Docker inside that VM. This creates additional network complexities that you wouldn't see on a Linux box that's running `docker-engine` natively.

[2015-11-20 20:41] rogerhill01234 commented on #46
The additional complexity is in getting the IP address of the virtual host instead of the localhost. Right? That is why I am using the IP address of the Virtual Box VM. I am able to get to the port of a simple application:

$ docker ps
CONTAINER ID        IMAGE               COMMAND              CREATED             STATUS              PORTS                          NAMES
70772dd144cf        traini

[2015-11-20 20:45] rogerhill01234 commented on #46
I found a difference between the python app and weblogic. The inspect of weblogic app:

    "NetworkSettings": {
        "Bridge": "",
        "SandboxID": "ebdb3c89e35a95490e642a3d4767761a75d205e6e445c67775f2ddcb48de9176",
        "HairpinMode": false,
        "LinkLocalIPv6Address": "",
        "LinkLocalIPv6PrefixLen": 0,
        "Ports": {
            "5556/tcp": null,
            "7001/tcp":

[2015-11-20 20:54] rogerhill01234 commented on #46
I ran the python app container with out port mapping (-P or -p options):
$ docker ps
CONTAINER ID        IMAGE               COMMAND              CREATED             STATUS              PORTS                          NAMES
d47d453179a6        training/webapp     "python app.py"      17 seconds ago      Up 16 seconds       5000/tcp                       web
08e88ed803c7        samplewls:12.1.3    "

[2015-11-20 22:46] brunoborges commented on #46
It is always related to how you configure the network setting of the container. Docs are not very specific because there aRe many ways to setup that.

Glad you found out :)

[2015-11-20 22:46] #46 closed

[2015-11-24 14:49] rekdt opened #47 "Step 14: scriptlet failed, exit status 2"
Hello,

While building the image with sudo sh buildDockerImage.sh -v 12.2.1 -d I get an error on step 14. However, the image continues to build and says successful. But when I try to build a weblogic instance and boot up the container, it doesn't come up. There is no error, the container just never runs. This is the only error I see that might be related.

Step 14 : RUN rpm -i /u01/$JAVA_RPM &&

[2015-11-24 22:49] brunoborges commented on #47
Please verify that you have downloaded all required files.

[2015-11-24 22:49] #47 closed

[2015-11-24 22:49] #45 closed

[2015-11-25 13:16] rdgacarvalho opened #48 "Wrong files name"
The name of requirement files are wrong, sample:
-rw-r--r-- 1 root root  229 Nov 25 11:08 fmw_12.1.3.0.0_wls.jar.download
-rw-r--r-- 1 root root 1272 Nov 25 11:08 install.file
-rw-r--r-- 1 root root  191 Nov 25 11:08 jdk-8u60-linux-x64.rpm.download
-rw-r--r-- 1 root root   55 Nov 25 11:08 oraInst.loc
-rw-r--r-- 1 root root  384 Nov 25 11:08 wls1213_dev_update3.zip.download

When the build script t

[2015-11-25 16:28] brunoborges commented on #48
They are called .download because you have to download them first. Those are placeholders.

[2015-11-25 16:28] #48 closed

[2015-11-30 10:07] ufoscout opened #50 "Wrong sample port number in README.md"
In the OracleWebLogic/README.md file is written that the samplewls:12.1.3 docker image starts a WL console at the port 8001. However, in other places of the same document the console is associated with the port 7001. Sometimes the two different port numbers are used in the same sentence, e.g.:

'''
Now you can access the AdminServer Web Console at http://172.17.0.27:7001/console. You can also acce

[2015-11-30 19:18] brunoborges commented on #50
Thanks @ufoscout. It has been fixed.

[2015-11-30 19:18] #50 closed

[2015-12-18 13:34] dglushenok opened #51 "ulimits/sysctls are not in effect"
Hello,

Dockerfile (at least for WebLogic) has following lines:
[code]

But docker will ignore /etc/security/limits.conf and sysctls will not work as /proc/sys/net/core/{w|r}mem_max are not exposed to container. So, resulting container will inherit net.core.{w|r}mem_max from host and nofile from docker process.

[2015-12-18 20:12] brunoborges commented on #51
@dglushenok do you have any pointer to Docker docs that state this?

[2015-12-19 19:33] dglushenok commented on #51
It looks like Docker is too young to have this documented. You can see https://github.com/docker/docker/issues/4717 where people are talking about changing sysctl settings and process limits.

[2015-12-20 02:10] brunoborges commented on #51
@dglushenok what about the --ulimit option in docker run? Should that be used instead? If yes, how?

See https://github.com/docker/docker/pull/9437

[2015-12-20 02:24] brunoborges commented on #51
I took this in consideration and performed the adjustments. See commits 97e5845, 26e5154, and b5c8012.

[2015-12-20 02:24] #51 closed

[2015-12-20 15:05] multikoop opened #52 "weblogic 1221-multihost sample: usage of inner-scripts unclear"
Looking at the 12.2.1 Multihost Example
https://github.com/oracle/docker-images/tree/master/OracleWebLogic/samples/1221-multihost

the usage of the inner-scripts/* files is unclear.

a) Is it just sth left from the oracle nosql example?
b) Can we remove these files here? ( inner-scripts/* )

[2015-12-20 20:23] #52 closed

[2015-12-22 00:11] brunoborges opened #53 "Can't install package httpd on Oracle Linux based Docker image"
Here's the image I'm trying to build:

[code]

Here's the error message I get:

        Error unpacking rpm package httpd-2.4.6-40.0.1.el7.x86_64

Tried with different OL 7.x versions. All failed.
Tried with OL 6 (latest). It worked.

I've found some related issues:
 - https://github.com/docker/hub-feedback/issues/461
 - https://github.com/aptible/support/issues/187
 - https://github.com/docker/do

[2015-12-22 00:19] Djelibeybi commented on #53
I can't reproduce this issue:

[code]

[code]

Dockerfile:

[code]

[code]

Note that I'm using the correct yum command (`yum -y install`) and I've added `mod_ssl` for SSL (port 443) support.

[2015-12-22 00:20] Djelibeybi commented on #53
All the related issues seem to be when you're using `aufs` which is not supported on Oracle Linux at all.

[2015-12-22 00:29] brunoborges commented on #53
Can you check Docker 1.9?

[2015-12-22 01:00] Djelibeybi commented on #53
We haven't released Docker 1.9 for Oracle Linux yet, as it requires our as-yet-unreleased UEK4 (4.1.12) kernel. However, I tested it with an internal build of Docker 1.9.1 and kernel-uek-4.1.12 and it works fine.

[2015-12-22 01:00] #53 closed

[2015-12-22 01:07] Djelibeybi commented on #53
Runtime info for Docker 1.9 and UEK4:

[code]

The `docker build` of the Dockerfile from above works fine.

[2015-12-22 04:14] brunoborges commented on #53
Yeah, confirmed here too. It is an issue with autfs.

Thanks Avi for double checking tough.

[2016-01-05 11:19] brunoborges opened #54 "Check if Managed Server exists before adding to the domain"
In case a container was created to run a Managed Server, the add-machine.py and add-server.py scripts must perform a check to whether these resources have been already created and added to the domain or not.

If yes, they should just start.

When container is started, make sure random names are generated only once at container creation time.

[2016-01-07 14:43] vitan opened #55 "Would you like to support weblogic 10.3.6?"

[2016-01-07 19:48] brunoborges commented on #55
Technically, it is completely possible to run 11g on Docker, but we do not certify nor support it.

[2016-01-07 19:48] #55 closed

[2016-01-19 03:34] vitan opened #56 "Proxy protocol between WebLogic AdminServer and ManagedServer"
I am trying to insert a HAproxy between WebLogic AdminServer and ManagedServer, while sth is going wrong. I found there is something wrong about the protocol **t3** in  [cmd](https://github.com/oracle/docker-images/blob/master/OracleWebLogic/samples/1221-domain/container-scripts/add-machine.py#L37) , which seems different from tcp.
any suggestion about that?

[2016-01-19 03:35] Djelibeybi commented on #56
This has nothing to do with Docker or the image. This is an issue between WebLogic and HAProxy. You're probably better off using Oracle HTTP Server with the WebLogic plugin, but either way, you'll get more answers over at the WebLogic space on the Oracle Community forums: https://community.oracle.com/community/fusion_middleware/weblogic

[2016-01-19 03:35] #56 closed

[2016-01-21 14:59] raisercostin commented on #32
I had the same problem ("startWeblogic.sh": executable file not found in $PATH) and found that in my case I started server (FROM oracle/weblogic:12.1.3-developer) instead of a domain (FROM 1213-domain).

[2016-01-26 12:04] bikboy opened #59 "Dockerfile.* error(weblogic)"
Seems that oracle/oraclelinux image that downloaded by this scripts its not include jdk installed within. and weblogic creation scripts is not working. There error:
/bin/bash /usr/java/default/bin/jar : File or Directory does not exists
bin/bash /usr/java/default/bin/java : File or Directory does not exists

[2016-01-26 19:47] brunoborges commented on #59
How are you building the image? Please provide as many details as possible.

[2016-01-27 06:50] bikboy commented on #59
@brunoborges i just did all you by instruction, but in first step when we run script buildDockerImage.sh there first step where Dockerfile.developer(or whatever) script download oracle/oraclelinux image:
# Pull base image
# ---------------
FROM oracle/oraclelinux:latest
So problem is - this image dont include jdk installed within
I solve tihs problem by installing jdk rpm into this downloaded orac

[2016-01-27 07:01] Djelibeybi commented on #59
The Dockerfile.developer adds the JRE itself via the follow `ADD` command:

`ADD $JAVA_PKG /usr/java/`

You need to make sure you've downloaded `server-jre-8u65-linux-x64.gz` properly, as per the instructions before you start the build too.

[2016-01-27 07:01] #59 closed

[2016-01-27 07:05] bikboy commented on #59
ofcourse i did it , but in instruction there server-jre-8u65-linux-x64.tar.gz mention(.download file) so i just tar this gz archive to tar.gz , is my problem was in that? jre not installed properly?

[2016-01-27 07:08] Djelibeybi commented on #59
This has been fixed via an update. Please update your git repo to get the latest instructions.

Sent from my iPhone

[2016-01-27 09:45] bikboy commented on #59
yap, after repo update - all work great, thx

[2016-01-27 13:53] alagna opened #62 "/usr/java/default/bin/jar: No such file or directory"
I tried to build the dockerImages but the script is enforcing the creation of a link ln -s /usr/java/$JAVA_FOLDER that on my mac is not allowed:

dockerfiles alagna>uname -a
Darwin Mac-Book-Pro3-AlbertoLagna.local 15.2.0 Darwin Kernel Version 15.2.0: Fri Nov 13 19:56:56 PST 2015; root:xnu-3248.20.55~2/RELEASE_X86_64 x86_64
dockerfiles alagna>java -version
java version "1.8.0_65"
Java(TM) SE Runtim

[2016-01-27 18:57] brunoborges commented on #62
Update the git repo on your local computer.

[2016-01-27 18:57] #62 closed

[2016-01-28 10:38] The-Judge commented on #53
Hi everyone,

I do not face this issue on my machines, but I do with my automatic build [derjudge/piwik](https://hub.docker.com/r/derjudge/piwik/), based on `centos:centos7`. So the docker build service seems to be affected by this, also (see https://hub.docker.com/r/derjudge/piwik/builds/bcc7jbxwdzn7ssezehksajg/).

[2016-01-28 10:51] Batousay opened #64 "Question about internal & external IPs."
I'm quite new to docker and weblogic, so I don't really know where to comment the problem I'm having, so I'll do it here.

Okay, let's start by the environment.
the project I'm wotking at requires weblogic 12.1.3 as well as coherence 12.1.3
So I create an AdminServer and some machines for "data" and "proxy".

If I test and try to connect with the proxy docker machine from inside the "host" compute

[2016-01-28 18:50] brunoborges commented on #64
It is a networking issue with the way Docker works. You should review the Docker Networking section in the documentation to get a better understanding.

https://docs.docker.com/engine/userguide/networking/

[2016-01-28 18:50] #64 closed

[2016-01-29 15:38] mustafau opened #66 "Name of the JRE download should be "server-jre-8u71-linux-x64.gz""
The files downloaded from Oracle's Server JRE page ends with ".gz" not ".tar.gz".

[2016-01-29 18:22] brunoborges commented on #66
@mustafau I'm sorry, but seems that you are having issues. The package should be downloaded from here:

- http://www.oracle.com/technetwork/java/javase/downloads/server-jre8-downloads-2133154.html

And the packages end with .tar.gz

[2016-01-29 18:22] #66 closed

[2016-01-29 18:31] mustafau commented on #66
That is the URL I used. Although it reads .tar.gz in that page actual downloaded file is a .gz

[2016-01-29 18:35] brunoborges commented on #66
The file downloaded comes from this URL:

- http://download.oracle.com/otn-pub/java/jdk/8u71-b15/server-jre-8u71-linux-x64.tar.gz

        $ file server-jre-8u71-linux-x64.tar.gz
        server-jre-8u71-linux-x64.tar.gz: gzip compressed data, last modified: Tue Dec 22 18:33:48 2015, from Unix

Least to say, if the filename is not entirely related to the actual content, on Unix environments that do

[2016-01-29 18:49] mustafau commented on #66
Seems like there are other people facing same issue.

http://superuser.com/a/607248

I just renamed the file to get it working.

[2016-01-29 19:11] brunoborges commented on #66
What OS and browser are you using? Just curious...

[2016-01-29 19:22] mustafau commented on #66
Latest Chrome, tried on both Mac and Windows. Could be a regional thing I think.

[2016-02-01 00:54] craigbarrau opened #67 "Ability to turn off no-cache"
Taking Bruno's suggestion to raise tickets for enhancement requests :)

Would it be possible to have a flag that turns on the Docker build cache during the execution of buildDockerImages.sh ?

At the moment it is hardcoded as no-cache=true. This means that subsequent builds will be slower than they need to be (e.g. 10 minutes instead of 10 seconds). The cache feature in docker is usually turned on

[2016-02-01 01:46] craigbarrau commented on #67
Also should mention.... without having cache enabled, every CI server build will be new image (i.e. several Gigabytes in size) even if it doesn't need to be. This has the potential to fill up space quickly and even take down the CI server in a worst case scenario.

[2016-02-01 03:10] Djelibeybi commented on #67
:+1 from me. I didn't realise this was even set.

[2016-02-01 08:03] brunoborges commented on #67
The build shell script is a utility. Expert users are welcome to use native "docker build" call

[2016-02-01 08:03] #67 closed

[2016-02-01 08:08] Djelibeybi commented on #67
Can you explain your reasoning behind using this option in the script? I don't understand why it's the default.

[2016-02-01 09:22] brunoborges commented on #67
Initially because there were bugs with the Docker layer cache system.

But then to ensure the image will be always clean. Docker caches layers based on what the command looks like, not what it does internally. For example:

        RUN wlst.sh createDomain.py

The command above may generate files to represent a unique domain (or in the case of base image, a WLS installation). If cached, doesn't ma

[2016-02-01 11:57] typekpb opened #68 "Oracle Database 12c docker image"
I'd love to see official Oracle Database 12c docker image available. Any chance for that?

[2016-02-01 18:38] brunoborges commented on #68
As soon as it exists :-)

But thanks for sharing your interest!

[2016-02-01 18:38] #68 closed

[2016-02-01 18:53] typekpb commented on #68
Just curious. Is it planned? Some timeline available? Thx.
On Feb 1, 2016 19:38, "Bruno Borges" <notifications@github.com> wrote:

[2016-02-01 19:39] Djelibeybi commented on #68
We do not comment on future product releases or ETAs, so we can't answer that question. I will point out that Database 12c was recently certified in an LXC container as an indicator, though.

[2016-02-01 19:46] typekpb commented on #68
Thanks a lot for answer. Sounds promissing :)
On Feb 1, 2016 20:44, "Avi Miller" <notifications@github.com> wrote:

[2016-02-01 22:37] mustafau opened #69 "java.io.FileNotFoundException: fmw_12.2.1.0.0_wls_supplemental_quick_Disk1_1of1.zip (Permission denied)"
I was trying to build 1221-medrec image when I encountered this exception.

**bash-3.2$** docker build -t 1221-medrec .
Sending build context to Docker daemon 234.5 MB
Step 1 : FROM oracle/weblogic:12.2.1-developer
 ---> dccb61bb75ef
Step 2 : MAINTAINER Monica Riccelli <monica.riccelli@oracle.com>
 ---> Using cache
 ---> 41fc7332de65
Step 3 : ENV FMW_PKG "fmw_12.2.1.0.0_wls_supplemental_quick_Disk

[2016-02-01 22:49] brunoborges commented on #69
You must download file `fmw_12.2.1.0.0_wls_supplemental_quick_Disk1_1of1.zip`, as per documentation indicates in the README file of this sample, as well the .download placeholder file in this folder.

[2016-02-01 22:49] #69 closed

[2016-02-01 22:56] mustafau commented on #69
I downloaded and put the file in place before running into this exception.

[2016-02-01 22:59] brunoborges commented on #69
Then there is something wrong with your environment. Please note the exception:

        java.io.FileNotFoundException: fmw_12.2.1.0.0_wls_supplemental_quick_Disk1_1of1.zip (Permission denied)

[2016-02-01 23:48] craigbarrau commented on #67
Hi Bruno,

Will an Oracle customer still be supported / certified for WebLogic on Docker if they don't use the utility script which is documented in the Oracle whitepaper?

Thanks,
Craig

[2016-02-02 00:11] brunoborges commented on #67
Absolutely

[2016-02-02 00:54] craigbarrau commented on #67
Phew *wipes sweat from face*

[2016-02-02 01:38] craigbarrau commented on #67
Based on the previous comment, I’m happy to go down the no utility script path although I would have liked to have stuck to that as it is what is in the Oracle Whitepaper and it could be perceived as deviating from the best wishes of Oracle even if that is not reality.

Regarding your comments on caching, I just wanted to clarify some things...

Firstly, this ticket was raised in the context of th

[2016-02-02 18:59] brunoborges commented on #67
Hi @craigbarrau,

About your concern on user space, the utility script combines `--force-rm=true` with `--no-cache=true`, so no layer will be stored after the build.

About your concern with `RUN wlst.sh createDomain.py` example, indeed that happens only on samples. But it is important to clarify that even though `createDomain.py` does not change at all, the output of that call generates random ha

[2016-02-03 21:49] mustafau commented on #69
Commit 3d58a517792778c4e2670fda7f6c7ee3689894d5 (https://github.com/oracle/docker-images/commit/3d58a517792778c4e2670fda7f6c7ee3689894d5) introduced this regression. The Java process does not have enough permissions to the zip file thus throws FileNotFoundException. Before that commit everything works fine.

[2016-02-03 22:16] mustafau commented on #69
Here are zip files permissions inside container:

Step 5 : RUN ls -alh $FMW_PKG
-rw-r----- 1 root root 224M Feb  1 22:21 fmw_12.2.1.0.0_wls_supplemental_quick_Disk1_1of1.zip

[2016-02-03 22:25] mustafau commented on #69
Chmodding local file fixed the problem inside the container. Was not a regression, sorry.

chmod 644 fmw_12.2.1.0.0_wls_supplemental_quick_Disk1_1of1.zip

[2016-02-03 23:05] brunoborges commented on #69
I'm sorry, @mustafau... I did not understand. Is there a problem with the current code or not?

[2016-02-04 13:01] mustafau commented on #69
There is not a problem with the current code.

One should check permissions of the zip file after downloading it. It has to be "644".

[2016-02-10 11:41] davidkarlsen opened #71 "outdated versions"
Looking at
https://github.com/oracle/docker-images/blob/master/OracleJDK/java-8/Dockerfile
the images seem old and updated - no u74 for example.
Would it not make sense to have individual git repos per image, and have according tags to provide versioned/tagged images?
oracle/java:8u74 f.ex?

[2016-02-10 17:58] brunoborges commented on #71
Hi @davidkarlsen, thank you for bringing this to our attention. I will update these files asap.

We do not keep individual repos per image/tag because these files are examples.

[2016-02-10 17:58] #71 closed

[2016-02-11 23:31] brunoborges commented on #54
Fixed by b2039c3414

[2016-02-11 23:31] #54 closed

[2016-02-14 04:19] craigbarrau commented on #67
Thanks Bruno,

If I understand correctly, the cache "must be disabled for building domains" if you are building derivative images from the same WebLogic domain and want to ensure each domain has different password entropy. That's very important, I agree.

As for the WLS + JDK installation, to be honest I'm not really convinced but I'm happy to agree to disagree on this one because the drawbacks of

[2016-02-14 06:18] brunoborges commented on #67
No worries. :-)

[2016-02-22 11:25] ElhadiC opened #74 "Error in building Docker image for WebLogic"
Hi Bruno,

when trying to build fmw12.1.3 dev using the script BuildDockerImage.sh i have the following error:
error: unpacking of archive failed on file /usr/bin/ping: cpio: cap_set_file
Error unpacking rpm package iputils-20121221-7.el7.x86_6

iputils-20121221-6.el7_1.1.x86_64 was supposed to be removed but is not!

and finally,
Failed:
  iputils.x86_64 0:20121221-6.el7_1.1      iputils.x86_64 0

[2016-02-22 21:56] brunoborges commented on #74
Just built it here and worked fine. I did on Docker 1.10 + Ubuntu 15.10

[2016-02-22 21:56] #74 closed

[2016-02-22 21:57] Djelibeybi commented on #74
If you're using `aufs`, you might want to try either `btrfs` or `overlayfs` instead. There are some issues with various VFS layers in Docker.

[2016-03-01 09:25] netroby opened #75 "would you please publish OracleJDK docker image on hub.docker.com"
https://hub.docker.com/r/oracle/

would you please publish OracleJDK docker image on hub.docker.com

[2016-03-01 09:30] Djelibeybi commented on #75
Product licensing prevents us from publishing the JDK binaries. This is not possible.

[2016-03-01 09:30] #75 closed

[2016-03-01 09:49] netroby commented on #75
You are Oracle , right? Oracle JDK was your self product.
Why not you limit your self publish your self product?
Any way to ask your CEO or CTO to make some change ?
Today the cloud will be more and more popular, why not prevent us using your products?

[2016-03-03 13:10] ivankrylov commented on #75
You can check out openjdk builds in Docker.
This one  is from the company I work for:
https://hub.docker.com/r/azul/zulu-openjdk/

[2016-03-04 23:00] brunoborges commented on #75
OpenJDK builds with Oracle Linux are also provided: https://hub.docker.com/r/oracle/openjdk/

[2016-03-17 21:27] ioft opened #76 "Providing Oracle JDK Docker images on Dockerhub"
Dear Oracle Team,

the OpenHAB team is currently [discussing](https://github.com/openhab/openhab-docker/pull/1) the possibility to provide OpenHAB as a Docker image in order to support a wide range of devices. Unfortunately using OpenJDK still has some disadvantages compared to the OracleJDK, so I'd like to know if there is any chance to use the Oracle JDK in combination with OpenHAB without getti

[2016-03-17 21:29] Djelibeybi commented on #76
Our legal team have advised that the Oracle JDK license does not permit us to ship the JDK as a container at this time. Therefore, we will not be shipping a complete container.

However, we do provide a Dockerfile that can be used to build your own Oracle JDK container and assuming you meet the terms and conditions of the JDK distribution license (as determined by your own legal team), that should

[2016-03-17 21:29] #76 closed

[2016-03-17 21:30] Djelibeybi commented on #76
Sample Dockerfiles for Oracle JDK here: https://github.com/oracle/docker-images/tree/master/OracleJDK

[2016-03-17 21:33] ioft commented on #76
But you are Oracle, aren't you?

BTW: The Dockerfile you are providing doesn't work on ARM / ARM64 and many other architectures≠x64

[2016-03-17 21:36] Djelibeybi commented on #76
We are Oracle, yes. But the distribution license for the JDK only permits distribution with a Java application. Distributing the JDK by itself is not permitted. Therefore a container with only the JDK and no application is not permitted, but a container with the JDK+application is (probably) fine.

However, I am not a lawyer and I'm paraphrasing the advice I was given by our legal team. You should

[2016-03-17 21:50] cyberkov commented on #76
Hello @Djelibeybi and thank you for the clarification. If I understand it correctly, it would be ok to put the Oracle JDK into the same Dockerfile as my Java App (in that case openHAB), but not into it's own layer as this would go against the license?

[2016-03-17 21:51] ioft commented on #76
So if we distribute the OrcaleJDK + OpenHAB within one Docker image it should be fine (meaning that it doesn't violate Oracle's licensing T&C)? Which person within your organization might be able to confirm this statement? The OpenHAB project is driven by volunteers (mostly engineers but not lawyers).

[2016-03-17 21:57] Djelibeybi commented on #76
Oracle does not provide legal advice to projects, unfortunately. You might be able to get a statement from the Java Product team via the Java forums/mailing lists though.

[2016-03-18 17:57] brunoborges commented on #76
@ioft, @cyberkov, if you know a JUG, ask your JUG Leader about this matter. He has the right communication channel with the Java Product team.

[2016-03-19 05:30] kaikreuzer commented on #76
This is indeed the biggest issue, since probably 99% of openHAB users are running it on some ARM-based system.
So is the statement "but a container with the JDK+application is (probably) fine" still valid if we would build a Docker image for ARM with JDK+openHAB ourselves or is this a completely different situation so that there is anyhow no chance not to violate the license terms?

[2016-03-19 09:27] umiddelb commented on #76
@kaikreuzer Could you get in touch with some JUG leader / representative?

[2016-03-19 17:18] kaikreuzer commented on #76
@umiddelb No need, I already directly talked to Donald Smith. But the answer is the same: Oracle does not give any legal advice...

[2016-04-02 08:47] skoky opened #81 "Weblogic docker image does not work on Mac"
I am trying to run WebLogic build script on Mac and it does not work as there is no `md5sum` installed by default:

If I install `md5sum` by `brew remove md5sha1sum` I see this error:

Ok, so I ave skipped md5 check inside the script by `SKIPMD5=1` and I see this result:

Any advice how to move forward?

[2016-04-02 20:07] brunoborges commented on #81
It seems you didn't download the WLS and Server JRE binaries.

[2016-04-02 20:07] #81 closed

[2016-04-05 18:44] AdamBien opened #85 "Change the example to development.mode"
Currently the weblogic sample 1221-domain (https://github.com/oracle/docker-images/tree/master/OracleWebLogic/samples/1221-domain) file is shipped with production mode enabled. The mode should be either configurable, or the WLS should be shipped with "development" mode.

The development mode enables auto-deployment, what a a convenient way to deploy applications on docker.

[2016-04-05 20:34] brunoborges commented on #85
Yeah, we are aware of that. But due to how WLST scripts for 1221-domain sample have to be coded (with lock) to dynamically add Managed Servers during runtime, WLS must be executed in Production mode for this particlar sample.

I'll consider add another sample for development, thanks for the input!

[2016-04-05 20:34] #85 closed

[2016-04-09 12:44] Makopo opened #87 "md5sum doesn't appropriately interpret comment lines in Checksum.* files"
When I run with vanilla Checksum files:
<pre>
$ sh buildDockerImage.sh -v 12.2.1 -g
Checking if required packages are present and valid...
fmw_12.2.1.0.0_wls_Disk1_1of1.zip: OK
md5sum: can't open '- http://www.oracle.com/technetwork/java/javase/downloads/server-jre8-downloads-2133154.html': No such file or directory
- http://www.oracle.com/technetwork/java/javase/downloads/server-jre8-downloads-21

[2016-04-09 21:27] jasonberanek commented on #81
@skoky I ran into a similar problem to your first md5sum portion of the issue, even with having the actual files.  It appears the version of the md5sum tool installed by brew doesn't tolerate the comments in the *.download files packaged in this repo, which results in the md5sum checks failing.

I cannot speak to your latter issues, assuming you did in fact have the files in the right directory.

[2016-04-10 19:22] brunoborges commented on #87
Can you provide the version output of md5sum of your env?

[2016-04-11 10:48] Makopo commented on #87
Docker Toolbox creates busybox environment in a docker machine...
md5sum command seems to have limited options.

[code]

[2016-04-11 18:07] brunoborges commented on #87
Then skip the MD5 check with `-s` in the buildDockerImage.sh call.

[2016-04-11 18:07] #87 closed

[2016-04-13 04:03] craigbarrau opened #90 "java doesn't appear to be on the path anymore with the latest source - WebLogic 12.2.1 Infrastructure"
Steps to reproduce

Step 1: Build
[code]
Step 2: Get terminal within container
[code]
Step 3: Try to access java
[code]
Step 4: Access java via the full path
[code]
Step 5: Display path
[code]

This is a change in behaviour since last time I build `oracle/weblogic:12.2.1-infrastructure`

[2016-04-13 04:37] craigbarrau opened #91 "Docker image for WebLogic 12.2.1 is 1.5 Gb larger than it needs to be"
Because the installer is copied in on a separate image layer then when it is installed and removed, the resulting WebLogic image is 1.5 Gb larger than it needs to be. Unfortunately there is no way to `ADD` or `COPY` files and then remove them in the same layer in the Dockerfile https://github.com/docker/docker/issues/12169 which would fix the issue but there are other approaches  one of which I tr

[2016-04-13 23:45] brunoborges commented on #91
Given that users can easily _squash_ images after they've built them, and they can do that in different ways, I see no reason to add this as a feature of the shell script.

Thanks for the suggestion @craigbarrau, but I prefer to keep this simple.

[2016-04-13 23:45] #91 closed

[2016-04-13 23:49] craigbarrau commented on #91
Was worth a try! 😄

[2016-04-14 00:00] #90 closed

[2016-05-02 04:34] yxwzaxns commented on #62
I also encountered the same problem,how to update git repo

[2016-05-02 19:30] alagna commented on #62
simply doing a >git pull

[2016-05-12 20:30] kciepluc commented on #53
Here is mine: https://hub.docker.com/r/kciepluc/coreos-toolbox/

Failing every time on:
error: unpacking of archive failed on file /usr/sbin/mtr: cpio: cap_set_file
[91mError unpacking rpm package 2:mtr-0.85-7.el7.x86_64

Local builds on CoreOS alpha with Docker 1.10.3 work without issues.

[2016-05-17 21:16] OmerCeliker opened #95 "Scripts are not working out of the box as repositories changed."
Can you help with this issue? I installed the docker but having issue with pulling the jdk from repo.
If I switch to

celiker@host1 dockerfiles]$ sudo sh buildDockerImage.sh  -g
Checking if required packages are present and valid...
fmw_12.2.1.0.0_wls_Disk1_1of1.zip: OK
=====================
Building image 'oracle/weblogic:12.2.1-generic' ...
Sending build context to Docker daemon 1.103 GB
Step 0

[2016-05-17 21:44] brunoborges commented on #95
You have to build [oracle/java:8](https://github.com/oracle/docker-images/tree/master/OracleJDK/java-8/) image.

[2016-05-17 21:44] #95 closed

[2016-05-17 22:09] OmerCeliker commented on #95
The initial issue is fixed but there is a problem still.

[celiker@host1 dockerfiles]$ docker images
REPOSITORY                TAG                 IMAGE ID            CREATED             VIRTUAL SIZE
<none>                    <none>              f51d8d827601        55 seconds ago      1.098 GB
oracle/jdk                8                   ee5dd3c6087d        10 minutes ago      276.1 MB
<none>

[2016-05-17 22:17] brunoborges commented on #95
Clean up your environment. I just built everything from scratch, and it is working fine.

[2016-05-17 22:17] OmerCeliker commented on #95
The image is missing java under /usr/java

[celiker@sbx-splunk1 dockerfiles]$ docker run -it oracle/jdk:8
[root@85972e121ee4 /]# whereis java
java:[root@85972e121ee4 /]# locate java
bash: locate: command not found
[root@85972e121ee4 /]# ls -la /usr/
total 76
drwxr-xr-x. 13 root root  4096 May  9 13:57 .
drwxr-xr-x. 17 root root  4096 May 17 22:16 ..
dr-xr-xr-x.  2 root root 12288 May  9 13:58 bin

[2016-05-17 22:32] OmerCeliker commented on #95
I did what you recommended. The issue still exists. Here is log of the whole thing.

[celiker@sbx-splunk1 java-8]$ docker images
REPOSITORY          TAG                 IMAGE ID            CREATED             VIRTUAL SIZE
[celiker@sbx-splunk1 java-8]$ docker build -t oracle/jdk:8 .
Sending build context to Docker daemon 4.096 kB
Step 0 : FROM oraclelinux:latest
Trying to pull repository registry.a

[2016-05-17 22:47] brunoborges commented on #95
Read carefully instructions on how to build the images inside OracleJDK folder. Read the [README](https://github.com/oracle/docker-images/tree/master/OracleJDK).

[2016-05-17 22:58] OmerCeliker commented on #95
Yes I was able to resolve it. After I saw that you were adding the contents in the Dockerfile.
In different locations you are handling the prerequisites differently.
For example in buildDockerImage.sh since you do a checksum it fails if the file is not there..
But in the build.sh you do not.
I recommend you do the same thing for consistency.

Anyhow, Thanks for your help.
This is resolved now.

[2016-05-20 09:13] stour opened #97 "Download Weblogic installer in RUN in order to decrease image size"
Currently Weblogic installer has to be downloaded manually **before** to build a Weblogic Docker image. The installer file is then copied into the image using a [COPY](https://github.com/oracle/docker-images/blob/master/OracleWebLogic/dockerfiles/12.2.1/Dockerfile.generic#L55) instruction and removed in following [RUN](https://github.com/oracle/docker-images/blob/master/OracleWebLogic/dockerfiles/

[2016-05-20 16:36] brunoborges commented on #97
Thanks, but if we did that, everytime a user wanted to rebuild the image, the download of a reasonably large file (it is no less than 100MB) would have to happen. We rather stick to downloading once and building as many times as you want.

You may choose to [squash](https://github.com/jwilder/docker-squash) the image though, if you want to reduce its size.

[2016-05-20 16:36] #97 closed

[2016-05-20 21:16] Djelibeybi commented on #97
This issue is already closed, but I thought I'd also point out that this would bypass the manual license acceptance that is required to download WebLogic from OTN, which is also not acceptable.

[2016-05-23 07:18] stour commented on #97
@brunoborges I will have a look at docker-squash, thanks. I agree that having to download the archive each time isn't an optimal solution too but if you need a smaller image (the archive itself is more than 800 MB) and the duration of the image build isn't a sensitive issue (as for instance you use a nightly job) then you may prefer this solution. One more thing is that it would help to keep the D

[2016-05-23 08:48] yekki opened #98 "How to remove useless managed servers in cluster after scale up/down?"
I use docker-compose scale up the weblogic cluster,  it works well. Then I scale down, the containers works well, but the useless managed servers in weblogic admin console are still there. Even I scale up again, docker will not use the servers anymore. How to solve this issue??  Waiting your replay, thanks!

[2016-05-23 10:09] Djelibeybi commented on #97
@stour Unfortunately, we have to follow Oracle legal guidance in this regard, even if it conflicts with Docker best practice.

[2016-05-23 22:01] brunoborges commented on #98
This is a WebLogic specific question, not related to Docker actually. There are some WLST python scripts that admins write to go through a domain and check dead managed servers, and remove them.

[2016-05-23 22:01] #98 closed

[2016-05-23 22:06] brunoborges commented on #97
@stour, the way we wrote these Dockerfiles, makes them portable and it does follow Docker best practices. Docker Inc. is aware of the issue with huge layers due to COPY, and they have a feature coming called `flatten` images. Check [PR #22864](https://github.com/docker/docker/pull/22641).

I say the Dockerfile is portable because you can take it (along with WLS binary of course) and build somewher

[2016-05-24 08:22] amitvanjani commented on #32
Hi Jedi, What is this xx.xx.xx.xx IP in your command?

[2016-05-24 08:25] amitvanjani commented on #32
I have started my weblogic domain using below command on docker terminal
docker run -d --name=wlsadmin -p 8001:8001 1221-domain

Container is running. But when I try to access http://localhost:8001/console on my windows where docker client is running the link doesnt work.

[2016-05-24 08:32] amitvanjani commented on #32
I followed below steps and it started working:

$ docker-machine ip
xx.xx.xx.xx
This gives me my docker machine IP, which I will use in below command.

$ docker run -d --name=wlsadmin -p xx.xx.xx.xx:8001:8001 1221-domain

After running above command, I opened google chrome and instead of using localhost. i used this console URL - http://xx.xx.xx.xx:8001/console and it works.

[2016-05-25 11:20] prasenforu commented on #62
same issue  "/bin/sh: /usr/java/default/bin/jar: Not a directory"

dockerfiles]$ git pull
Already up-to-date.
[pkar@ip-172-31-19-52 dockerfiles]$ sh buildDockerImage.sh -d -v 12.2.1
Checking if required packages are present and valid...
fmw_12.2.1.0.0_wls_quick_Disk1_1of1.zip: OK
=====================
Building image 'oracle/weblogic:12.2.1-developer' ...
Sending build context to Docker daemon 402.

[2016-05-25 11:22] prasenforu opened #99 "/bin/sh: /usr/java/default/bin/jar: Not a directory"
dockerfiles]$ git pull
Already up-to-date.
[pkar@ip-172-31-19-52 dockerfiles]$ sh buildDockerImage.sh -d -v 12.2.1
Checking if required packages are present and valid...
fmw_12.2.1.0.0_wls_quick_Disk1_1of1.zip: OK
=====================
Building image 'oracle/weblogic:12.2.1-developer' ...
Sending build context to Docker daemon 402.7 MB
Step 1 : FROM oracle/jdk:8
 ---> be2ddf461adf
Step 2 : MAINTAI

[2016-05-28 21:50] brunoborges commented on #99
Please rebuild the image found in [../OracleJDK/java-8]()

[2016-05-28 21:51] #99 closed

[2016-05-29 14:22] biemond opened #100 "Oracle 7 with UEK4"
Hi

When can we expect Oracle 7 docker image with latest enterprise kernel 4 so we can install docker on it for DnD.
docker install requires nowadays UEK4 for the latest version (>1.9), I don't want to use old version of docker and forced to use an registry v1. Else I need to switch to other OS.

Cheer Edwin

[2016-05-29 21:35] Djelibeybi commented on #100
Our Docker images do not ship with a kernel. They inherit whatever the host kernel is.

[2016-05-29 21:35] #100 closed

[2016-05-30 10:14] biemond commented on #100
yeah I did that, my host is OEL7.2 with UEK4 but somehow the docker install doesn't not like it and ask me to update the kernel of the docker image.

[2016-05-30 21:29] Djelibeybi commented on #100
Except there is no kernel inside a Docker image. You'll have to take this up with Docker, I guess. We build Docker in Docker on OL7, so we know that bit works.

[2016-05-31 09:23] biemond commented on #100
Ok thanks.

It is nasty why docker from jan now requires UEK4 for docker > 1.9. I have to switch to CentOS , sad face

here is the output of my host Linux demo.example.com 4.1.12-37.2.2.el7uek.x86_64 #2 SMP Thu May 5 11:43:45 PDT 2016 x86_64 x86_64 x86_64 GNU/Linux
[code]

[2016-05-31 10:00] Djelibeybi commented on #100
That's just a dependency issue. You need to configure and enable the UEK4 repo so that yum can pull in the required packages (even though the container won't actually use them).

Note that Docker 1.9 and higher require kernel functionality that's not provided by any older kernel. On Oracle Linux, we are able to continue to support newer versions of Docker on both OL6 and OL7 by leveraging our UEK.

[2016-05-31 10:39] biemond commented on #100
Thanks that worked,

maybe already add the UEK4 repo as a default just like UEK3, if that won't give any big problems

Back to OEL 👍

[code]

[2016-05-31 20:22] Djelibeybi commented on #100
The UEK4 repo is included in the OL6U8 image and will be in the OL7U3 image (when it is released). Glad it's working for you now.

[2016-06-02 05:10] suniljav opened #102 "Facing problem in 1221-medrec"
Hi Sir

I am facing problem while running command for sample/1221-medrec " $ docker run -d -p 7001:7001 1221-medrec" on ubuntu , I am getting below error.

WLST-WLS-1464625798480: <May 30, 2016 4:29:59 PM UTC> <Info> <Management> <BEA-141107> <Version: WebLogic Server 12.2.1.0.0 Tue Oct  6 10:05:47 PDT 2015 1721936>
     [java] ..........................WLST-WLS-1464625798480: <May 30, 2016 4:31:2

[2016-06-07 20:46] Vanuan commented on #68
Is there a particular reason to ban images provided by the community?
https://github.com/wscherphof/oracle-12c/issues/24

[2016-06-07 20:55] Djelibeybi commented on #68
Because it's a violation of Oracle's licensing terms to distribute Oracle proprietary software.

[2016-06-07 23:02] sguntur-juniper opened #104 "Docker Multi Host Workshop"
@Bruno I am struggling to run wls on multi-host, followint your github workshop link https://github.com/oracle/docker-images/tree/master/OracleWebLogic/workshops/multihost.

runnung into issues when Iam running bootstrap.sh , docker-machine create -d virtualbox .

I am trying your workshop on VirtualBox VM , also tried installing virtualbox inside that VM , still not able to run successfully.

Iam

[2016-06-08 01:54] brunoborges commented on #68
As a comparison, other even open source products (i.e. JBoss EAP [1]) do not publish their proprietary binaries due to similar licensing terms.

[1] https://hub.docker.com/u/jboss/

[2016-06-08 01:57] brunoborges commented on #104
You have to make sure Docker Machine is properly installed and working before trying the workshop. Please follow Docker Machine documentation and "hello world"-like tutorials available online.

If Docker Machine is working fine, then please go ahead and submit more details about your particular issue with the workshop material.

[2016-06-08 08:36] Vanuan commented on #68
Is it because it would be easy to violate the license terms if it were published on Docker Hub? Maybe some "I agree" checkbox could be added to Docker Hub to mitigate that problem?

[2016-06-08 09:00] Djelibeybi commented on #68
No. There are many issues including no rights to distribute. It's not possible to host Oracle binaries outside of Oracle.

[2016-06-08 16:15] ckbridge opened #105 "docker build -t 1221-domain fails - /bin/sh: /u01/oracle/wlst: /bin/sh^M: bad interpreter: No such file or directory"
running on Windows.. using Powershell.

I got as far running:
docker build -t 1221-domain --build-arg ADMIN_PASSWORD=welcome1 .

Sending build context to Docker daemon 22.53 kB
Step 1 : FROM oracle/weblogic:12.2.1-developer
 ---> 7512c3300af1
Step 2 : MAINTAINER Bruno Borges <bruno.borges@oracle.com>
 ---> Running in 5496153d1e2f
 ---> c0ab738d1bb9
Removing intermediate container 5496153d1e2f
Step

[2016-06-08 17:33] brunoborges commented on #105
We don't have Windows to test it, and these files are not supported by Oracle. We publish them to help users get started, but they are free to deploy WebLogic on Docker however they want (even by writing their own Dockerfiles).

If you find a way to fix the sample files here, in a way it works both on Linux/Mac/Windows, please let us know.

[2016-06-08 17:33] #105 closed

[2016-06-08 17:42] brunoborges commented on #102
`1221-medrec  sample actually starts AdminServer on port 7001, as per its [README](https://github.com/oracle/docker-images/blob/master/OracleWebLogic/samples/1221-medrec/README.md), and it does not extend `1221-domain`.

You must access AdminServer through port 7001.

It is also up to you how to adjust the container to decide access type to the container port.

There shouldn't be any proxy setting

[2016-06-08 17:42] #102 closed

[2016-06-10 13:40] ppora opened #106 "1221-appdeploy gets autokilled with high BLOCK I/O"
Hi,

I have built Weblogic images 1221-domain and 1221-domain-with-resources and both are working fine.
Now when i create appdeploy image based on 1221-domain-with-resources , it builds. But when i run image to deploy ear it get auto killed with high BLOCK I/O.

Docker stat mycontainer is showing block I/O increasing from 10 MB to 13 GB and server is stopping automatically after that.

Same ear fi

[2016-06-10 18:19] brunoborges commented on #106
I will give it a try, but workaround is to merge 1221-domain-with-resources files with 1221-appdeploy files.

[2016-06-13 12:08] ppora commented on #106
Looks like there is too much of disk I/O happening...accessing WL console without any ear/war is also generating 80-100MB block I/O , have tried to set logging level to WARNING instead of FINEST in create domain file but didn't help.

[2016-06-14 16:24] brunoborges commented on #106
@ppora I've tested it and didn't see any issues. Please provide detailed steps to reproduce the problem. Otherwise I'll close this issue.

[2016-06-15 18:59] somu4git commented on #104
Hi Bruno,
Docker Machine was installed properly , trying to run sample command, and running into issue:

$ docker-machine version
docker-machine version 0.7.0, build a650a40
$ docker-machine ls
NAME   ACTIVE   DRIVER   STATE   URL   SWARM   DOCKER   ERRORS

]$ docker-machine create --driver virtualbox default
Running pre-create checks...
Error with pre-create check: "This computer doesn't have VT-

[2016-06-15 19:52] brunoborges commented on #104
Hi @somu4git, I am sorry but I can't help you with Docker Machine issues. Please submit this issue to the [Docker Machine](https://github.com/docker/machine) project.

[2016-06-15 19:52] #104 closed

[2016-06-15 20:07] somu4git commented on #104
thanks for the reply Bruno.

The workshop  you created  ran successfully on ubuntu VM (running on virtualBox ) ?

[2016-06-15 21:23] brunoborges commented on #104
Yes, it works fine on Ubuntu.

[2016-06-16 05:42] ppora commented on #106
Hi Bruno..thanks lot for looking into this issue..i figured out issue, issue was with VM memory settings..

You can close this.

[2016-06-16 05:43] #106 closed

[2016-06-21 17:03] saily opened #109 "Put this on docker hub"
Hi Oracle, why not putting these images on docker hub so people do not have to build theirselves? Please setup automated builds for docker hub. Thanks.

[2016-06-21 19:06] brunoborges commented on #109
Hi @saily, we are first certifying our products and helping users to build their own images with these quickstart files, gather feedback, establish best practices and optimal default configurations as well customization points.

We do have though in our roadmap intation to provide pre-built images, but is not our focus right now.

But thanks for your interest. You are not the [first](https://githu

[2016-06-21 19:06] #109 closed

[2016-06-21 19:22] saily commented on #109
Hi @brunoborges. What is your focus on right now?

Acutally we use custom built docker images to test and pre-build all oracle products like OracleDB, SOA appliaction and Commerce on premise. Having maintained images to start from would help a lot.

[2016-06-21 19:36] brunoborges commented on #109
Focus is to dockerize even more Oracle technologies.  :-)

We certify and provide support for some products (the ones you see in this repo), but we do not require customers to use specific pre-built images. In fact, customers are allowed to come up with their own images, customizations, and parameters.

Our recommendation is that you set up an internal Registry Server, and that you build images th

[2016-06-29 06:16] eruiz opened #116 "Upgrade Weblogic Docker to 12.2.1.1.0"
It would be great if you could upgrade WL 12.2 Docker to 12.2.1.1.0

Thanks in advance

[2016-06-29 07:23] brunoborges commented on #116
Fixed by  a430253

[2016-06-29 07:23] #116 closed

[2016-07-05 17:30] XtremePlayzCODE opened #117 "Hello Oracle Developers"
# Hello Oracle Developers
This issue has nothing to do with the following repository, and I am aware. Sorry for not posting this on the community support, the Create Account was asking for way too much info about me.
Anyways, I am currently developing a program which modifies the source code of Java, which I retrieved from the source code of JDK. I was wondering if I could modify the Java source c

[2016-07-05 20:09] brunoborges commented on #117
Get in contact with Oracle Corp. For more information, visit [Oracle Contacts](https://www.oracle.com/corporate/contact/index.html)

[2016-07-05 20:09] #117 closed

[2016-07-06 14:51] XtremePlayzCODE commented on #117
Thank you

[2016-07-19 06:29] eruiz opened #121 "WebLogic based on Oracle Linux and Oracle JDK 7"
It would be great if the JDK version could be parametrized in order to build a Weblogic image from JDK 8 or from JDK 7.

[2016-07-19 15:07] pmihalcin opened #122 "Memory management"
Hi,
Is there a way how to manage how much memory container will take?
It is like that in Tomcat case where one can specify -e "JAVA_OPTS=-Xmx256m" when spinning up new container
I refer to Weblogic images

[2016-07-19 16:05] neosource opened #123 "Can't run Database 12c on Docker"
when I run the container using "docker run -p 1521:1521 -p 5500:5500 oracle/database:12.1.0.2-ee"

I am not able to get the container to work. Not sure what is going wrong. Kindly help.

redbook:~ ravi$ docker logs nauseous_lumiere

LSNRCTL for Linux: Version 12.1.0.2.0 - Production on 19-JUL-2016 12:28:12

Copyright (c) 1991, 2014, Oracle.  All rights reserved.

Starting /opt/oracle/product/12.1.

[2016-07-19 16:33] brunoborges commented on #121
WebLogic 12.2.1 does not run on JDK 7.

[2016-07-19 16:33] #121 closed

[2016-07-19 16:37] brunoborges commented on #122
You'd have to check Docker documentation to specify how much memory you want for your Docker container.

For the WebLogic samples we provide here, you can set environment parameter [USER_MEM_ARGS](https://github.com/oracle/docker-images/blob/master/OracleWebLogic/samples/1221-domain/container-scripts/add-server.py#L28). This will be picked for setting JVM memory settings for Managed Servers (when

[2016-07-19 16:37] #122 closed

[2016-07-19 16:39] brunoborges commented on #123
Please provide the detailed list of files in your local folder `dockerfiles/12.1.0.2/`.
Provide detailed steps you followed to build the image.

[2016-07-19 16:40] brunoborges commented on #123
@gvenzl, any idea?

[2016-07-19 16:49] neosource commented on #123
I am building OracleDatabase 12.1.0.2 Enterprise Edition. I put linuxamd64_12102_database_1of2.zip and linuxamd64_12102_database_2of2.zip in ~/docker-images-master/OracleDatabase/dockerfiles/12.1.0.2 folder. The other thing that I had to do was modify the Checksum.ee file to remove all comments. I am running Docker Version 1.12.0-rc4-beta19 (build 10258) on Mac OS X 10.11.5. The command used to bu

[2016-07-19 17:43] brunoborges commented on #123
I'd have to ask you to dig for the problem and solution, and when you find it, please post here. I don't have Mac to help you out.

[2016-07-19 17:52] neosource commented on #123
I tried it on ubuntu 16.04 as well and got the exact same issue.

[2016-07-19 18:01] brunoborges commented on #123
I just tried on 16.04 and it worked fine.  Mind to rebuild your image?

[2016-07-19 18:14] neosource commented on #123
which version of docker are you using on ubuntu.

[2016-07-19 18:21] brunoborges commented on #123
[code]

Docker 1.12 is in beta.

[2016-07-19 19:47] neosource commented on #123
I tried building the image with Docker Version 1.12.0-rc4-beta20 (build: 10404) on mac os x 10.11.5 and the following output was generated. It looks like everything is going ok till DBCA starts where it fails after 3%.

redbook:dockerfiles ravi$ ./buildDockerImage.sh -v 12.1.0.2 -e -p welcome1
Checking if required packages are present and valid...
linuxamd64_12102_database_1of2.zip: OK
linuxamd64_

[2016-07-19 21:12] aelsnz commented on #123
If you are using one of the later mac models - you might be running into this issue:

https://forums.docker.com/t/perl-segmentation-fault-oracle-12c-install-docker-mac-mac-pro/18256

In short if you have a look at your image where things are not working, what happens when you run perl from the $ORACLE_HOME/perl/ - and what is the size of the $ORACLE_HOME/bin/oracle executable?

[2016-07-20 00:20] brunoborges commented on #123
As this seems to be a problem specifically on Mac, I will close the issue.

[2016-07-20 19:36] gvenzl commented on #123
I've added a fix that checks whether the perl binary is executable and if not, re-installs it based on the steps documented in the Docker forum link above.

However, I can't reproduce this issue on my machine which mean I can't verify that it works.
@neosource: Can you try to rerun the build on your environment with my fix in place.

[2016-07-20 20:09] brunoborges commented on #123
Reopen until @neosource can confirm fix by @gvenzl works or not. If it does, we will pull the fix.

[2016-07-21 12:05] neosource commented on #123
I added the fix myself as described by @gvenzl it seems to do the job. The image build is working now. Now the run seems to be going on for ages. After an hour or so the last message i saw was installing XDB.

[2016-07-21 12:55] lukaseder opened #124 "No space left on device when running buildDockerImage.sh for OracleDatabase"
I'm running this on Windows 10 with still plenty of disk space:

![image](https://cloud.githubusercontent.com/assets/734593/17023297/f7294c36-4f52-11e6-96f2-0e51fcbdf4c1.png)

I git cloned this repository into a local directory and then copied Oracle 12.1.0.2 Enterprise Edition for Linux into `/c/Users/lukas/docker/oracle/docker-images/OracleDatabase/dockerfiles/12.1.0.2` and then ran `buildDocker

[2016-07-21 13:30] neosource commented on #123
redbook:dockerfiles ravi$ docker run -p 1521:1521 -p 5500:5500 oracle/database:12.1.0.2-ee

LSNRCTL for Linux: Version 12.1.0.2.0 - Production on 21-JUL-2016 13:08:00

Copyright (c) 1991, 2014, Oracle.  All rights reserved.

Starting /opt/oracle/product/12.1.0.2/dbhome_1/bin/tnslsnr: please wait...

TNSLSNR for Linux: Version 12.1.0.2.0 - Production
System parameter file is /opt/oracle/product/12.

[2016-07-21 15:11] brunoborges commented on #124
You will have to dig configuration of Docker Toolbox for Windows. It uses a VirtualBox VM behind the scenes. That is where I believe disk space is not sufficient, not your host (Windows).

[2016-07-21 16:21] gvenzl commented on #123
Actually, your database is ready for business (indicated by `Completed: ALTER DATABASE OPEN`). What you see is a `tail` command on the database alert log, just a convenience matter so that one can see what's going on.

You should be able to connect to your database. The fact that you see XDB initialized means that you already did reach the HTTP server in some way. I think the error here is that yo

[2016-07-21 16:36] neosource commented on #123
Everything seems to be working fine now. I kept trying for some time and it wouldn't work. I just tried after two hours and it seems to work fine now. Thanks for all the help. This issue can be closed now.

[2016-07-21 18:07] #123 closed

[2016-07-21 18:54] brunoborges commented on #124
@lukaseder, I don't think there is anything we can do in the Dockerfiles to fix this. It is up to the user to adjust its Docker installation and host environment

[2016-07-21 18:54] #124 closed

[2016-07-22 05:54] lukaseder commented on #124
Thanks for your help. I was afraid I had to dig into how these things work in detail :)

[2016-07-22 06:27] lukaseder commented on #124
OK, for the record (i.e. for other docker newbies like myself), this is the command to increase the default disk (and memory) size:

[code]

Will edit and adapt if the above is not sufficient.

[2016-07-22 08:01] lukaseder commented on #124
Folks: Just wanted to say that this is *really excellent*. Thanks a lot for doing this. Will definitely advertise this to everyone, also on the jOOQ blog :)

[2016-07-22 15:52] gvenzl commented on #124
We are glad to hear @lukaseder and appreciate the valuable feedback! Have fun dockering around :)

[2016-07-22 19:57] tkleiber opened #126 ""No such file or directorytabase_1of2.zip" when installing ee"
Hi!

I have tried to create the docker image for Database 12.1.0.2 EE in a vagrant oel 7.2 box and in an offficial oraclelinux docker container via

./buildDockerImage.sh -v 12.1.0.2 -e

I have cloned this repository and provided my windows directory via volumes into the vagrant box and the oraclelinux docker container and added the downloaded files from otn:

[vagrant@oraclelinux7 dockerfiles]$ p

[2016-07-22 20:04] tkleiber commented on #126
Similar error with xe version:

[vagrant@oraclelinux7 dockerfiles]$ ls -la 12.1.0.2/oracle-xe-11.2.0-1.0.x86_64.rpm.zip
-rwxrwxrwx 1 vagrant vagrant 315891481 Jul 23 05:51 12.1.0.2/oracle-xe-11.2.0-1.0.x86_64.rpm.zip

[vagrant@oraclelinux7 dockerfiles]$ ./buildDockerImage.sh -v 11.2.0.2 -x -p
./buildDockerImage.sh: option requires an argument -- p
Unknown error while processing options inside buil

[2016-07-22 21:02] brunoborges commented on #126
You have to download Oracle DB binaries. See README.

[2016-07-22 21:02] #126 closed

[2016-07-22 21:06] tkleiber commented on #126
Please see above, that I have download this:

vagrant@oraclelinux7 dockerfiles]$ ls -la 12.1.0.2/linuxamd64_12102_database_*
-rwxrwxrwx 1 vagrant vagrant 1673544724 Jul 23 05:13 12.1.0.2/linuxamd64_12102_database_1of2.zip
-rwxrwxrwx 1 vagrant vagrant 1014530602 Jul 23 05:07 12.1.0.2/linuxamd64_12102_database_2of2.zip

This seems a problem of the mdsum, when I use the -i switch I have now start thi

[2016-07-22 21:53] gvenzl commented on #126
This is a weird problem. On your first try it did find the second zip file:

[vagrant@oraclelinux7 dockerfiles]$ ./buildDockerImage.sh -v 12.1.0.2 -e
Checking if required packages are present and valid...
: No such file or directorytabase_1of2.zip
: FAILED open or readbase_1of2.zip
**linuxamd64_12102_database_2of2.zip: OK**
md5sum: WARNING: 1 listed file could not be read
MD5 for required packages

[2016-07-22 22:01] tkleiber commented on #126
No this does not change the behaviour - only skipping via switch -i helps to prevent this error.

[2016-07-25 10:03] jomoespe opened #127 "Clues about how to extend database image"
Hi,
I'm trying to extend the database image to have a container with data fixture for testing purpose, as you mention in the database readme:

I've tried two approaches:
- Create an **image FROM** the **Oracle** image and **execute** the DDL and DML files with **sqlplus** in the build phase. This doesn't work because in *build* phase Oracle is not running and sqlplus cannot establish connection.
-

[2016-07-25 18:53] tkleiber commented on #126
This works fine when running directly on the windows host.
This give the mentioned error when running on the vagrant oel 7.2 client on the shared folder from the host.
This gives the error too when running on the oel 7.2 docker container running in the oel 7.2 client mapping the volume from the vagrant oel 7.2 client.

[2016-07-25 19:31] brunoborges commented on #127
Hey @gvenzl any insight on possible samples we could push out?

[2016-07-26 02:58] gvenzl commented on #127
Yup, fresh from the forge: https://github.com/gvenzl/docker-images/tree/master/OracleDatabase/samples/starterset

[2016-07-26 05:10] gvenzl commented on #126
Hm, can you do a `ls -al` on the first install zip file in the vagrant environment? It almost sounds like as if vagrant doesn't expose the file to the environment.

[2016-07-26 06:30] #127 closed

[2016-07-26 19:04] tkleiber commented on #126
See several updates before - the file is there, again:
ls -al linuxamd64_12102_database_1of2.zip
-rwxrwxrwx 1 vagrant vagrant 1673544724 Jul 23 05:13 linuxamd64_12102_database_1of2.zip

[2016-07-26 19:10] tkleiber opened #128 "non-zero code: 254 / Oracle home has not enough space when installing EE database"
Hi!

In which oracle home directory tries docker to install the ee database? The vagrant oel 7.2 box has 200 GB file system, and docker "Base Device Size: 53.69 GB". Where I have to look?

This is the output of running
./buildDockerImage.sh  -v 12.1.0.2 -e -i

....
Checking Temp space: must be greater than 500 MB.   Actual 6780 MB    Passed
Checking swap space: 0 MB available, 150 MB required.

[2016-07-26 22:12] gvenzl commented on #128
The ORACLE_BASE and ORACLE_HOME are specified in the Dockerfile itself:

`ENV ORACLE_BASE=/opt/oracle \
    ORACLE_HOME=/opt/oracle/product/12.1.0.2/dbhome_1`

[2016-07-26 22:18] gvenzl commented on #126
Did you try to execute the checksum command? Does that work within the vagrant environment?

[2016-07-27 05:27] tkleiber commented on #126
Again: See 2 uptates above!

[2016-07-27 05:32] tkleiber commented on #128
Thanks. I'm sure that this file system has round about 200 GB free, as I have added a disk for this to the vagrant virtualbox. Could this be related to the failing swap space check? Normally I add swapfile to the vagrant virtualbox, but have seen yesterday that this does not work when the file system is xfs.

[2016-07-27 15:44] brunoborges commented on #128
The vbox may have space, but have you configured Docker to use that space? See issue #124.

Regardless, this is a problem we cannot solve at Dockerfile level.

[2016-07-27 15:44] #128 closed

[2016-07-27 16:00] brunoborges commented on #126
@tkleiber skip the checksum. It is just an optional verification the `buildDockerImage.sh` shell script does. This script is only intended to help anyway, not required at all to be used.

You may just as well go into the 12..1.0.2 folder and call `docker build <options>`.

[2016-07-27 17:54] gvenzl commented on #128
It is not related to the swap space. The log snippet clearly indicates lack of space for the ORACLE_HOME itself:

    [FATAL] [INS-32021] Insufficient disk space on this volume for the selected Oracle home.
    CAUSE: The selected Oracle home was on a volume without enough disk space.
    ACTION: Choose a location for Oracle home that has enough space (minimum of 6,553MB) or free up space on the e

[2016-07-27 17:59] gvenzl commented on #126
If the `md5sum` Unix command itself isn't working with the vagrant environment there is little we can do to fix that.

[2016-07-29 04:47] afulay opened #131 "unclear instructions for oracle/jdk:8"
the instructions to create oracle/jdk:8 docker image are not very clear. This blog post is not current any more: https://blogs.oracle.com/brunoborges/entry/docker_and_weblogic_enabling_cloud

[2016-07-29 05:47] afulay commented on #131
The OracleJDK folder is under the top level directory of docker-images repo.

[2016-07-29 17:24] afulay commented on #131
Reopening. The Readme for weblogic server and others should be updated to make instructions for building oracle/jdk:8 image clearer.

[2016-07-29 17:45] tkleiber commented on #128
The disk size was big enough, as it was added with vagrant and formatted and added to the volume group via script before.
This I could verify wiht df -h too.
The changed volume group, which provides the /opt directory, had over 200 GB available.
As stated before I had changed docker base device size too before.

I have now corrected my script for providing swap space to my oel vagrant box.
The err

[2016-07-29 19:02] tkleiber commented on #126
Have found a solution now.
It seem that the Checksum.*file is in dos/windows UTF 8 format, at least when cloning the github repository on windows 10.
If this is mapped into the vagrant box, md5sum does gives the error.

If I convert the Checksum.* files to unix ansi format then the md5sum call is successful.

[2016-08-01 10:01] liaoya opened #133 "The OracleJDK docker image will be bigger because mv operation"
The two OracleJDK Dockerfile has the following directive
RUN mv $(ls -1 -d /usr/java/*) $JAVA_HOME
The mv operation will increase the docker image size. There is no such problem when using "ln -s" command.

[2016-08-01 15:18] jcbrasuell opened #134 "docker 12.1.0.2 database instance fails to start"
docker 12.1.0.2 based database instance fails to start after docker image overall build successful.

See highlights below.  Please let me know if you need any other log data.

================================================= Docker Build
...
*** End of Installation Page***
The installation of Oracle Database 12c was successful.
INFO: Updating the global context
INFO: Path To 'globalcontext.xml' =

[2016-08-01 18:40] brunoborges commented on #134
See issue #123.

[2016-08-01 18:50] #131 closed

[2016-08-01 18:55] brunoborges commented on #133
There was a problem when using symlink, which I cannot remember exactly, but it would fail on inherited images. Which is why we went with `mv` instead of `ln`. See commit 8b8b4904

[2016-08-01 18:55] #133 closed

[2016-08-01 18:57] brunoborges commented on #133
Found the actual commit, with much better explanation :-)

See e234ae65f.

[2016-08-01 20:01] brunoborges commented on #134
@gvenzl, mind to take a look? perhaps this case is different than #123?

[2016-08-02 00:16] gvenzl commented on #134
This seems to be an issue with the password for the DBA accounts. Can you please confirm the following:

Did you invoke buildDockerImage.sh with `-p` and specify a password?

If yes, did you have a space in it?

If no, what is the password for `SYSPASSWORD` in the `dbca.rsp` response file?

[2016-08-02 01:25] jcbrasuell commented on #134
No.  Did not run buildDockerImage.sh

I ran this:
docker build -t oracle/database:12.1.0.2-ee -f Dockerfile.ee .

[root@ea7e7f docker]# cat ./btrfs/subvolumes/dce3fa1e1159904ad492d6ba86b6bd619e0ae322438333e0ee10c8bfd6a8be12/opt/oracle/install/dbca.rsp | grep SYSPASSWORD
# Name          : SYSPASSWORD
SYSPASSWORD = "###ORACLE_PWD###"

[2016-08-02 01:37] gvenzl commented on #134
Ok, that is the problem. The Dockerfile expects a password passed on for the DBA accounts.

I just saw that the Dockerfile itself doesn't cover that yet in the comment section.

Please try to rebuild the image using buildDockerFile.sh or using `--build-arg ORACLE_PWD=<Your DB password>`

[2016-08-02 01:41] afulay opened #135 "The listen address is not updated in 1221-medrec sample"
In 1221-medrec sample, the file /u01/oracle/wlserver/samples/server/medrec/install/common/createCleanDomain.py comments out set('ListenAddress',listenHost).

Is this by design? Due to this, the listen address is not updated despite it being passed via weblogic.properties.

[2016-08-02 01:55] brunoborges commented on #135
@afulay can you test what should be the right configuration? Does 1221-medrec works OOTB? If not, what change was needed to make it work?

[2016-08-02 02:53] jcbrasuell commented on #134
Done.  Thanks Gerald!

[2016-08-02 02:53] #134 closed

[2016-08-02 03:26] afulay commented on #135
It works on the laptop since listen address is set as localhost and you can use docker port mapping. But if you try to deploy this image on a different server where the container gets its own ip address then WLST fails to start server. In such situation, we need to set the hostname/ip as listen address so that your application can be accessed from anywhere in the network.

I had to make 3 changes

[2016-08-02 12:35] sadovnikov opened #137 "Failure to run oracle/database:12.1.0.2-se2"
docker image `oracle/database:12.1.0.2-se2` gets successfully created by `./buildDockerImage.sh -v 12.1.0.2 -s -i` from `OracleDatabase/dockerfiles` directory. However the container fails to start.

[code]

The expected `dbhome_1/dbs/initORCLCDB.ora` does not exist in the container, while `dbhome_1/dbs/init.ora` does

[2016-08-02 12:43] gvenzl commented on #137
It seems like something went wrong during the database creation of the image build. Can you post the Docker build log?

[2016-08-02 13:11] sadovnikov commented on #137
Yes, seems the problem wasn't detected during creation of the docker image
[code]

[2016-08-02 13:12] sadovnikov commented on #137
content of `/opt/oracle/cfgtoollogs/dbca/ORCLCDB/ORCLCDB.log` file

[code]

[2016-08-02 13:52] sadovnikov commented on #137
I disabled removal of `$INSTALL_DIR` and re-created the image. Results are the same, but now I can re-run `dbca -silent -responseFile $INSTALL_DIR/$CONFIG_RSP` - it fails with the results above

[2016-08-02 14:49] sadovnikov commented on #137
Container, which is created by `./buildDockerImage.sh -v 12.1.0.2 -s -i -p oradbpswrd`, contains the new database... I reviewed the old response file => the passwords are empty. The problem is that my OS does not have `pwmake` and `buildDockerImage.sh` doesn't catch this

[2016-08-02 18:26] brunoborges commented on #137
@sadovnikov is it safe to close this?

[2016-08-03 07:08] sadovnikov commented on #137
Yes, I believe so

[2016-08-03 07:08] #137 closed

[2016-08-05 22:28] brunoborges commented on #135
hey @mriccell, mind to review this?

[2016-08-08 02:20] holodny opened #140 "Error creating XE 11.2.0.2 Image"
_While building the initial XE 11.2.0.2 I get this error (I think it's an error, it's in red -- bolded below):_

Archive:  oracle-xe-11.2.0-1.0.x86_64.rpm.zip
   creating: Disk1/
   creating: Disk1/upgrade/
  inflating: Disk1/upgrade/gen_inst.sql
   creating: Disk1/response/
  inflating: Disk1/response/xe.rsp
  inflating: Disk1/oracle-xe-11.2.0-1.0.x86_64.rpm
**sysctl: setting key "kernel.sem": Re

[2016-08-08 07:47] tkleiber opened #141 "How to make database instance persistent?"
Hi!

Is there any documentation, how I can separate the database installation in docker container from the database instance data in a persistent volume?
Is this possible with this images?

Kind regards
Torsten

[2016-08-08 19:08] gvenzl commented on #140
The errors above result out of the rpm installation itself. Inside a Docker container it is not permitted to set those kernel parameters. Those parameters have to be set on the host and once done, can be ignored. Please refer to the [Oracle Database Express Edition Installation Guide](https://docs.oracle.com/cd/E17781_01/install.112/e18802/toc.htm#BABJFAIA) for the minimum requirement.

If the con

[2016-08-10 09:10] satishdash opened #142 "Execution of `buildDockerImage.sh` fails with md5sum"
Hi,
As per the main line instructions for building WLS docker images it asked to check the content of *.download files under OracleWeblogic/dockerfiles/12.2.1.1/

[code]

But when I download the recommended file the md5sums do not match.
[code]

I have downloaded the Generic installer "http://download.oracle.com/otn/nt/middleware/12c/122110/fmw_12.2.1.1.0_wls_Disk1_1of1.zip") from "http://www.orac

[2016-08-10 19:30] brunoborges commented on #142
Skip the checksum. See instructions:

`sh buildDockerImage.sh -h`

[2016-08-10 21:29] brunoborges commented on #142
I just downloaded the package from OTN and the MD5 is `01c15af9011b349a41c9ddc60e88f7cc`, as indicated in the `.download` file used to do the checksum inside `buildDockerImage.sh`.

Either download again, or skip md5sum if that works.

[2016-08-10 21:29] #142 closed

[2016-08-11 19:09] abhirockzz opened #144 "Fix README for '1221-domain-with-resources' example"
The README file for '1221-domain-with-resources' example is incorrect (it is the one which one used for '1221-appdeploy' sample). Please add appropriate instructions in the README (related to the Data Source and JMS infra setup)

[2016-08-11 19:25] brunoborges commented on #144
@abhirockzz mind to provide a Pull Request with what you have in mind?

[2016-08-11 21:13] therealcmj commented on #81
I had the same issue as @jasonberanek - md5sum on Mac (installed from "brew install md5sha1sum" doesn't like the comments in the checksum files. Homebrew installs http://www.microbrew.org/tools/md5sha1sum/ which doesn't support comments.

I worked around it by tweaking the script to grep -v the specific Checksum.X file, pipe the result into a temp file, and then use that in the "md5sum -c", removi

[2016-08-12 21:28] Djelibeybi opened #146 "Add SIGTERM support to runOracle.sh"
Currently, when `docker stop` is called, it just issues `SIGTERM` then `SIGKILL` to the `runOracle.sh` script, which is a very inelegant way of shutting down the database.

The `runOracle.sh` script should include signal handlers to trap `SIGTERM` and issue a `SHUTDOWN IMMEDIATE` to the Database before the container exits.

[2016-08-15 23:09] gvenzl commented on #141
Hi @tkleiber,

At this point in time this isn't possible with those images but this is something that we are investigating.

I'll leave this issue open to act as a tracker for this.

Thanks,

[2016-08-18 15:29] sigaELwebeo commented on #141
This guy builds a oracleDB image and uses persistence storage.
https://fritshoogland.wordpress.com/2015/08/11/installing-the-oracle-database-in-docker/

He volumes the folder "/u01/app/oracle/data" inside the container. No clue wich one will be in this installation.

[2016-08-23 17:13] brunoborges commented on #146
Hey @gvenzl, was this fixed in your latest PR ?

[2016-08-23 17:15] brunoborges commented on #140
I'll close this issue for now. If there is anything we can do in the Dockerfiles to prevent this problem, we'll reopen this.

[2016-08-23 17:15] #140 closed

[2016-08-23 18:04] gvenzl commented on #146
No, this is still work in progress.

[2016-08-26 18:42] douglas-man opened #151 "error occurred while executing this line: /u01/oracle/wlserver/samples/server/medrec/install/common/build.xml:27: Java returned: 1"
updating with more concise  error log... (looks like I have a log-In Issue ..)

[code]

downloaded this ..

fmw_12.2.1.0.0_wls_supplemental_quick_Disk1_1of1

and
running....

/1221-medrec$ docker run -ti -p 7001:7001 1221-medrec

as the last step beginning with README...

[code]

 $ sh buildDockerImage.sh -v 12.2.1 -d

...
....

but gets this...

[code]

BUILD FAILED
/u01/oracle/wlserver/samples/s

[2016-08-29 09:40] michael-simons opened #153 "Create database on first startup makes image useless for integration testing"
Hello everybody,

the commit 8d07e454b9c54825dc9084d68b78210c66753240 makes the image useless in integration testing: Container takes ages to start and the freshly created database is dropped afterwards.

Having the default database created for the base image would be more useful, imho. Or it would be nice if you provide a sample who I can create the database in an image derived from Oracles.

Tha

[2016-08-29 22:01] brunoborges commented on #153
So a sample is good enough?

[2016-08-30 03:00] feici02 opened #154 "About base image oracle/jdk"
Hi,
I can't find image _oracle/jdk_ on Docker Hub, there is only _oralce/openjdk_.
But it is used by products like Weblogic and Tuxedo as the base image.
Why?

Thanks,
feici02

[2016-08-30 03:05] imnuh commented on #154
Check the oraclejdk folder. You can build it from there.

[2016-08-30 04:01] #154 closed

[2016-08-30 05:15] michael-simons commented on #153
Yes, a default database would be enough (I didn't check which kind of transaction optimization it uses).

To get this straight: the image is still ok, but I would to derive from it and build my own in most cases. As it was before the commit mentioned, I can start it, use it and throw it away.

On my 4 and 2 year old Macs with 16Gb Ram both and SSDs it takes about 40 minutes to build with a databas

[2016-08-30 05:30] brunoborges commented on #153
All you have to do is build the usual way then you write a second Dockerfile that extends the first one, and then you call runOracle.sh during build time. Yes, it now means you have two steps. But the first image will be the DB just installed, no database provisioned. Push that to a registry server, and easily reuse it across your org.

[2016-08-30 05:32] #153 closed

[2016-08-30 05:34] michael-simons commented on #153
Yeah, I was to harsh, that's true. Thought that after hitting send. Sorry for the title.

It's up to you but IMHO it was more convenient before that change and having a look at MySQL, Postgres or other database images: they can be used right away after start.

[2016-08-30 06:09] feici02 commented on #154
@imnuh Thanks, I found this:
`docker pull huhgawz/oraclelinux-oraclejdk`

[2016-08-30 08:08] gvenzl commented on #153
The reason for that change was as a precursor to enable data containers, i.e. to keep the data files alive after container recreation. Once this is in place you can again reuse an existing database.
I will add an example how to extend the image to have a already created database in the meantime.

[2016-08-30 08:22] michael-simons commented on #153
Thanks @gvenzl for clarifying your reason!

[2016-08-30 10:17] brunoborges commented on #154
The reason you don't see `oracle/jdk` on DockerHub is because we don't publish commercial software to DockerHub. Nor should other folks without proper license agreement do that either... you know, like huhgawz :-)

Go to [OracleJDK](https://github.com/oracle/docker-images/tree/master/OracleJDK) and build the oracle/jdk image. Publish on your internal registry server, and then you can use it for wh

[2016-08-30 16:53] #146 closed

[2016-09-01 02:37] feici02 commented on #154
@brunoborges Thank you for the detailed explanation.
That's the answer I want to get.

[2016-09-02 06:08] jeroendewolf commented on #151
I have the same problem with the medrec sample. The process of running the medrec container appears to hang during domain write, but after a little while, killing it with ctrl-c results in this stack trace.

[2016-09-06 08:16] tkleiber opened #156 ""illegal option -- p" when creating EE database image"
Hi!

WIth the actual commit i get the error when running following command:

sudo ./buildDockerImage.sh -v 12.1.0.2 -e -i -p XXXXXXX
./buildDockerImage.sh: illegal option -- p

This option seems to be remove when the database instance part moved from the image to the container but
https://github.com/oracle/docker-images/blob/master/OracleDatabase/README.md
has to be updated to reflect this change.

[2016-09-06 10:27] tkleiber opened #157 "/setPassword.sh does not work for Oracle XE: no such file or directory"
Hi!

The database is up as I can see in the log and the login dialog for APEX is reachable too.

I try to change the password for an Oracle XE container similar as described in
https://blogs.oracle.com/developer/entry/creating_and_oracle_database_docker

I have opened another shell and changed to the directory, where setPassword is located in the host:
ls -la setPassword.sh
-rwxrwxrwx 1 vagrant va

[2016-09-08 20:51] brunoborges commented on #144
@abhirockzz any chance you can provide a PR to fix this issue?

[2016-09-09 22:15] vafaronaghi opened #161 "Error occured during installation of Oracle Database"
Hi ,

this error  occured as i tried to install oracle DB 12.1.0.2 (enterprise)
--
Checking Temp space: must be greater than 500 MB.   Actual 6654 MB    Passed
Checking swap space: must be greater than 150 MB.   Actual 7720 MB    Passed
Preparing to launch Oracle Universal Installer from /tmp/OraInstall2016-09-09_09-46-55PM. Please wait ...[FATAL] [INS-32021] Insufficient disk space on this volume

[2016-09-09 22:19] ramonPires commented on #161
I had the same problem trying to build this image for oracle xe,in my case with Docker for mac, and I found a solution to change the swap space https://forums.docker.com/t/docker-for-mac-configure-swap-space/20656/2?u=ramonpires .

[2016-09-11 03:19] brunoborges commented on #161
@gvenzl, mind to wrap up the Swap space issue and document it in the [README.md](https://github.com/gvenzl/docker-images/blob/master/OracleDatabase/README.md), please?

[2016-09-11 03:19] #161 closed

[2016-09-11 04:30] ramonPires commented on #141
@sigaELwebeo you tryed the solution using volumes? I tryed creating a volume for the folder "/u01/app/oracle/oradata/XE" and "/u01/app/oracle/",but don't work, the oracle instance could not be mounted.  I tryed with this: `docker create --name oracle  -v /Users/ramon/Development/docker/database/oracle:/u01/app/oracle --shm-size=1g -p 1521:1521 -p 8080:8080 -p 1234:22 oracle/database:11.2.0.2-xe` .

[2016-09-11 18:56] vafaronaghi commented on #161
ok, i will verify it and document in README.md definitely

[2016-09-14 16:15] ratroncoso commented on #141
Y did persistent data but in an awful way!!!

1.- Create a container1 with volume:
          /docker/volumes/oradb:/opt/oracle/oradata
     and it was empty.

2.- Create a container2 with volume /docker/volumes/oradb:/data
     Docker exec on it and copy the entire ORCLCDB folder to /data

3.- Docker exec into container 1, chown and chmod on ORCLCDB
     Copy and replace file /opt/oracle/oradata/O

[2016-09-15 09:21] eliuha opened #162 "lstat linuxamd64_12102_database_1of2.zip: no such file or directory"
failing to install the linuxamd64_12102_database_1of2.zip

Step 5 : COPY $INSTALL_FILE_1 $INSTALL_FILE_2 $INSTALL_RSP $PERL_INSTALL_FILE $INSTALL_DIR/
lstat linuxamd64_12102_database_1of2.zip: no such file or directory
There was an error building the image.
master@docker:~/OracleDatabase/dockerfiles$

[2016-09-15 17:54] brunoborges commented on #162
Have you downloaded the binary from oracle.com ?

[2016-09-16 04:40] gvenzl commented on #162
You need to download the install zip files and put them into the right directory. See the README.me for more information.

[2016-09-16 04:47] gvenzl commented on #156
Thank you, the update was missed in the README.

[2016-09-16 05:11] gvenzl commented on #157
This still missed a symbolic link being created in the current directory.

[2016-09-16 15:49] #156 closed

[2016-09-18 15:56] #162 closed

[2016-09-18 15:56] brunoborges commented on #157
@tkleiber could you please see if latest commit from @gvenzl fixed this issue?

[2016-09-19 10:02] Starefossen opened #165 "Can I run the Oracle WebLogic Docker Image in production?"
Can someone from Oracle tell me if I can run the Oracle WebLogic Docker Image in production mode (not development mode) with external traffic and what license I will need for it?

[2016-09-20 09:43] neosource opened #166 "Unable to create the database on first run"
DBCA_PROGRESS : 42%
ORA-04031: unable to allocate 1015832 bytes of shared memory ("shared pool","unknown object","PDB Dynamic He","Alloc/Free SWRF Metric CHBs")

This on MacOS X 10.11.6 running Docker Version 1.12.1-beta26.1 (build: 12100)

[2016-09-20 15:52] brunoborges commented on #165
Eeerrr... What is Oracle WildFly? Are you talking about WildFly from Red Hat, or you wanted to say Oracle WebLogic?

[2016-09-20 16:00] Starefossen commented on #165
Sorry. My bad for mixing up the names. I meant Oracle WebLogic. Currently in the process of migrating a bunch of Java applications to Docker.

[2016-09-20 23:19] gvenzl commented on #166
How much memory is available for the container? You will need at least 2GB to run the DB inside it.

[2016-09-21 13:20] ramonPires commented on #141
With this image, https://github.com/MaksymBilenko/docker-oracle-xe-11g , I can mount a volume with the way I want, but I really want is use the official image.  @ratroncoso I will try your solution,thank you.

[2016-09-21 17:32] ramonPires commented on #141
@ratroncoso Your solution is for oracle 12c, right? I'm asking because the folders hierarchy are different on Oracle 11 XE.

[2016-09-21 17:51] ratroncoso commented on #141
Oracle Database Enterprise Edition 12C

[2016-09-21 17:58] ramonPires commented on #141
@ratroncoso did you try with  Oracle 11g XE or just Oracle 12c?

[2016-09-21 18:01] ratroncoso commented on #141
@ramonPires only on Oracle12c

[2016-09-21 18:45] Starefossen commented on #165
I have read the [Running Oracle WebLogic Server on Docker (E70166-01)](https://docs.oracle.com/middleware/12211/wls/DOCKR/DOCKR.pdf) as well as [Supported Virtualization and Partitioning Technologies for Oracle Fusion Middleware](http://www.oracle.com/technetwork/middleware/ias/oracleas-supported-virtualization-089265.html) and I can not find an explanation on how licensing for production usage wo

[2016-09-21 18:48] brunoborges commented on #165
There are no specifics for licensing WebLogic on Docker. You license as
usual (regardless if you will use inside a container or directly on the
host environment)

*Bruno Borges*
+1 (650) 454-9628
*www.brunoborges.com <http://www.brunoborges.com>*

On Wed, Sep 21, 2016 at 11:45 AM, Hans Kristian Flaatten <
notifications@github.com> wrote:

[2016-09-23 21:46] eliuha commented on #162
can you add the link please ?

[2016-09-23 22:42] gvenzl commented on #162
You can download the binaries from the [Oracle Technology Network Download page](http://www.oracle.com/technetwork/database/enterprise-edition/downloads/index.html).

[2016-09-29 00:34] brunoborges commented on #166
@neosource, can you provide more information?

[2016-09-29 00:34] #165 closed

[2016-09-29 00:35] brunoborges commented on #157
I'll assume this is fixed by commoit 375c028

[2016-09-29 00:35] #157 closed

[2016-09-29 00:36] brunoborges commented on #135
@afulay, mind to test latest version of this sample?

[2016-09-29 00:40] brunoborges commented on #144
@abhirockzz can you submit a pull request?

[2016-09-29 00:41] brunoborges commented on #151
@mriccell, Monica, could you review this please?

[2016-09-29 04:59] abhirockzz commented on #144
done... PR #168

[2016-09-29 16:08] neosource commented on #166
There is 16 GB on the machine and I am sure there is more than 2 GB for the container. Things are even worse now that I have upgraded to MacOS Seirra. The build script is not going ahead after the "Successfully Setup Software." message.

Regards,
Ravi Reddy

[2016-09-29 20:53] gvenzl commented on #166
@neosource Actually, after that message not much is happening anymore. But Docker takes a while to commit the layer afterwards though. Just tested it and it seems to hang for about 2 minutes before it progresses:

This was the latest ee build file that I've just tested.

Are you

[2016-09-29 22:39] #144 closed

[2016-09-29 22:40] brunoborges commented on #166
Built here too and it is working fine. For now, I'll leave this closed.

@neosource, let us know of any other issue.

[2016-09-29 22:40] #166 closed

[2016-09-30 10:02] willievu opened #169 "buildDockerImage.sh not passing build-arg correctly for proxy"
The syntax for --build-arg is

`--build-arg name=value`

buildDockerImage.sh generates something like this for proxy settings:

`--build-arg="http_proxy=<url>"`

The code fragment for proxy settings needs to be changed to the following:

[code]

I'm using Docker Version: 1.12.1

[2016-09-30 20:17] ramonPires commented on #141
@gvenzl any update about this issue? I found other solution, http://marceloochoa.blogspot.com.br/2016/06/is-time-for-oracle-xe-on-docker.html ,but I don't  test yet.

[2016-10-01 00:16] brunoborges commented on #169
Which  `buildDockerImage.sh` are you refering to?

[2016-10-01 02:05] gvenzl commented on #169
They are all wrong for:

- OracleDatabase
- OracleHTTPServer
- OracleWeblogic

The rest of them don't pass on proxy settings.

[2016-10-03 15:35] #169 closed

[2016-10-03 15:36] gvenzl commented on #141
With the latest commit we now have containers that provide persistence for all database editions.

[2016-10-03 15:36] #141 closed

[2016-10-04 20:40] dfranssen opened #171 "Sample 12211-medrec is not building due to 'The current user is root or has superuser privilege'"
```docker build -t 12211-medrec .```

[code]

[2016-10-04 20:43] gvenzl commented on #171
@mriccell, could you please have a look at this.

[2016-10-06 17:15] tonymwinters opened #174 "Ability to use the unpack command in a docker file"
It would be nice to 'unpack' a domain template in the docker file from a template .jar as opposed to creating a new one. Replacing the create-wls-domain.py line from the dockerfile with something like:

`/u01/oracle/oracle_common/common/bin/unpack.sh -domain=/u01/oracle/user_projects/domains/$DOMAIN_NAME -template=/u01/oracle/security.jar`

returns an error:

`Required component home not found for

[2016-10-06 17:50] brunoborges commented on #174
Can you please provide more details, and if possible a test case?

[2016-10-10 11:22] JaydiptaBiswas opened #176 "Not able to run 11g docker container"
Hi,
I am trying to run Oracle 11g docker container, which is throwing me below error. Please let me know what I am missing.

Run command:
docker run --name ora11g \
--shm-size=1g \
-p 1522:1521 -p 8082:8080 \
-v /docker-container/volumes/ora11g:/u01/app/oracle/oradata \
oracle/database:11.2.0.2-xe

LOG:
Connected to:
Oracle Database 11g Express Edition Release 11.2.0.2.0 - 64bit Production

SQL> B

[2016-10-10 11:43] ramonPires commented on #176
@JaydiptaBiswas  did you give write permission in the folder `ora11g`?

[2016-10-10 12:34] ramonPires opened #177 "Provide images on Docker Store , Docker Hub or a private Docker Registry"
@brunoborges  oracle will provide some day support for official images on Docker Store , Docker Hub or in a private Docker Registry? Building images on every update in the project is an annoying task. I don't know if there is a license issue,but it will be good for the community if we could do this in an easy way.

[2016-10-10 16:46] gvenzl commented on #176
@JaydiptaBiswas you have to make sure that you give write permissions for your folder /docker-container/volumes/ora11g:

    ORA-00210: cannot open the specified control file
    ORA-00202: control file: '/u01/app/oracle/oradata/XE/control.dbf'
    ORA-27037: unable to obtain file status
    Linux-x86_64 Error: 13: Permission denied
    Additional information: 3

[2016-10-10 16:52] brunoborges commented on #177
Yes, we will soon make available our own Docker Hub with pre-built images based on the Dockerfiles here.

[2016-10-10 16:52] #177 closed

[2016-10-10 19:21] tkleiber commented on #157
Confirmed that the problem is solved, sorry for the delay, but I was on vacation.

[2016-10-10 21:17] tkleiber commented on #141
When starting the xe docker container in vagrant box via

docker run  ... --restart unless-stopped

and calling

vagrant halt
vagrant up

the docker container comes up after this, as I can see via docker ps, but database is not available.

Have to do to make the database available again via

docker stop container
docker start container

[2016-10-10 22:52] brunoborges commented on #141
@tkleiber can you provide logs of what's happening? really hard to figure out what's going on.

We'd also appreciate if you could post a new issue with these logs.

[2016-10-11 01:36] ramonPires opened #179 "Change NLS configuration on Oracle XE"
I have a problem when I use the impdp tool for import a dump:
`ORA-02374: conversion error loading table "SCHEMA"."ADDRESS"
ORA-12899: value too large for column STREET (actual: 103, maximum: 100)
ORA-02372: data for row: STREET : 0X'4EE36F20706F73737569206EBA206E61206672656E74652064'`.
I found a solution, change the charset of the database from `AL32UTF8 ` to `WE8ISO8859P1` :
`sqlplus /nolog`

`c

[2016-10-11 03:44] brunoborges commented on #179
For issues with the Database, please go to community.oracle.com

[2016-10-11 03:44] #179 closed

[2016-10-11 04:46] ramonPires commented on #179
@brunoborges I don't think it's a database issue,I just want to know if I can configure the image a predefined parameter like  NLS. I already found the database solution,I got a help from a DBA,and he said the only way is in the moment when I create the database.

[2016-10-11 04:53] brunoborges commented on #179
Then the best thing to do is for you to tweak your own Dockerfile or inherited Docker image, and adjust the DB settings to your taste.

[2016-10-11 04:56] ramonPires commented on #179
Ok,I'll try it.

[2016-10-11 16:05] jlafourc commented on #161
Hi,

I am on Debian with Docker 1.12.1 . I am running in the same issue. I increased my swap space (now 14G). I also changed the Base Device Size (now 32GB). I tried Oracle 12c SE && EE.

I am running out of ideas.

Thanks

Julien

[2016-10-11 16:42] jlafourc commented on #161
In fact I reply to myself. I cleaned all my containers and images (and restarted my computer just in case ... ) as mentined here :
https://github.com/wscherphof/oracle-12c/issues/5#issuecomment-105737307

and it worked !

[2016-10-12 04:22] pcouas opened #181 "Could not build java8 image from Windows 10 Host"
Hi Bruno

I have tried to build then to running DockerFile issue your DockerFile from my Windows10Pro Host
I could build it
But when i run, i have only # caracter ?
I could not enter any caracter ?

Regards
Philippe
`
# LICENSE CDDL 1.0 + GPL 2.0
#
# Copyright (c) 2015 Oracle and/or its affiliates. All rights reserved.
#
FROM oraclelinux:latest

MAINTAINER Bruno Borges <bruno.borges@oracle.com>

E

[2016-10-12 15:54] brunoborges commented on #181
I am sorry I won't be able to help you. I don't have Windows.

[2016-10-12 17:29] gvenzl commented on #181
The host shouldn't matter so much if the problem is somewhere while building the Docker container or inside the container. But I'm not clear that the outcome/problem is. Here is what I get on Mac OS X:

    gvenzl-mac:java-8 gvenzl$  docker build -t oracle/jdk:8 .
    Sending build context to Docker daemon 59.88 MB
    Step 1 : FROM oraclelinux:latest
     ---> 3d62999fc909
    Step 2 : MAINTAINER

[2016-10-12 17:50] brunoborges commented on #181
@gvenzl, my point is that it is not clear whether @pcouas is building this container on Docker Toolbox for Windows (which runs a small Linux VM), or if is trying to build directly on Docker *for* Windows.

@pcouas, please provide more details on what Docker stack you have installed in your Windows environment, and what steps you took trying to build the image.

[2016-10-12 17:51] brunoborges commented on #174
@tonymwinters, any input here? See my previous comment.

[2016-10-13 05:06] pcouas commented on #181
Hi

I have intalled DockerToolbox-1.12.0.exe in my Windows10PRO from url https://www.docker.com/products/docker-toolbox

[2016-10-13 13:47] tonymwinters commented on #174
@brunoborges sorry for the delay. A really common use-case would be to use the Oracle pack and unpack commands to install a domain template from an existing domain:

[https://docs.oracle.com/cd/E13179_01/common/docs92/pack/commands.html]

You can create a template from an existing weblogic domain that has all jndi settings already setup. The pack command does that for you and creates a .jar file.

[2016-10-13 14:03] fecliba commented on #62
Hi, any updates on this issue? I'm having the same problem using Ubuntu 14.04 when I tried to build the image using this command: ./buildDockerImage.sh -v 12.2.1 -d

[2016-10-13 16:42] brunoborges commented on #181
Please provide all steps you took to attempt the build.

[2016-10-13 16:59] brunoborges commented on #174
Make sure you have `setDomainEnv.sh`

[2016-10-13 17:17] brunoborges commented on #62
Please provide detailed information on how you built image oracle/jdk:8

[2016-10-13 20:21] tkleiber commented on #157
But the error happens furthermore in Oracle EE.

[2016-10-13 20:50] tkleiber commented on #141
How can I find this logs?

[2016-10-13 20:58] tkleiber opened #184 "ORA-00205 when mounting virtualbox shared folders as docker volume for EE database instance persistence"
Are there any filesystem type restrictions when creating volumes for persistence? There is no file created in the shared folder! Similar call works fine for XE version.

[vagrant@oraclelinux7 ~]$ sudo docker run -p 1521:1521 -p 8080:8080 -p 5500:5500 --name="db12.1.0.2-ee" --restart unless-stopped -v /virtual_storage/oracle/database/12.1.0.2/ee:/opt/oracle/oradata localhost:5000/oracle/database:12

[2016-10-13 21:26] brunoborges commented on #141
`$ docker logs` should be a good start

[2016-10-13 21:51] gvenzl commented on #184
There is no restriction of file systems from Oracle Database side and it doesn't seem that [Docker](https://docs.docker.com/engine/tutorials/dockervolumes/) has on either.
The output indicates a restart scenario. Was the previous setup successful where the database gets created?

[2016-10-13 21:52] gvenzl commented on #176
Given the silence I assume that this was just a permission issue and hence close this ticket. Please reopen if the issue remains.

[2016-10-13 21:52] #176 closed

[2016-10-13 22:23] gvenzl commented on #157
Can you check whether that file exists and whether you typed the command correctly (with a . at the beginning). It's hard to guess without seeing the actual command/error:

    gvenzl-mac:~ gvenzl$ docker exec oracle-ee ./setPassword.sh LetsDocker
    The Oracle base remains unchanged with value /opt/oracle

    SQL*Plus: Release 12.1.0.2.0 Production on Thu Oct 13 22:22:11 2016

    Copyright (c)

[2016-10-14 12:06] tkleiber commented on #157
The file is not in the ee container as following commands should be shown:

[vagrant@oraclelinux7 ~]$ docker exec db12.1.0.2-ee ls setPassword.sh
ls: cannot access setPassword.sh: No such file or directory
[vagrant@oraclelinux7 ~]$ docker exec db12.1.0.2-ee ls
[vagrant@oraclelinux7 ~]$ docker exec db12.1.0.2-ee pwd
/home/oracle
[vagrant@oraclelinux7 ~]$ docker exec db12.1.0.2-ee find / -name setPa

[2016-10-14 18:50] brunoborges commented on #157
@tkleiber we don't use Vagrant, so we can't test it. Clearly it is a problem with your environment. Sorry.

[2016-10-14 18:55] gvenzl commented on #157
@tkleiber, looks like that something went wrong during the build, if the file is not there. It is copied as part of the run and config file into $ORACLE_BASE and then linked later on to the $HOME folder: ` ln -s $ORACLE_BASE/$PWD_FILE $HOME/ && \`

Can you post the build log?

[2016-10-14 21:24] dandan86 commented on #62
Hi all, I pulled everything but I still have this error.
I'm using OSX.

That's how I build oracle/jdk:8 :
[code]

[2016-10-14 21:26] Djelibeybi commented on #62
This is your problem. The .download file is NOT a tarball. It's a text file that tells you where to download the actual server-jre tarball from. View the file, go to the URL, download the binaries and then rebuild your image using the actual tarball itself.

[2016-10-15 09:27] yxwzaxns commented on #62
@dandan86 you should download server-jre-8u101-linux-x64.tar.gz from  a URL, you can get  it from server-jre-8u101-linux-x64.tar.gz.download

[2016-10-15 19:28] tkleiber commented on #157
After pulling the latest changes from github the problem is not reproducible anymore. Thank you nevertheless.

[2016-10-15 19:31] tkleiber commented on #184
After pulling the latest changes from github the problem is not reproducible anymore. Thank you nevertheless.

[2016-10-15 20:37] tkleiber opened #186 "XE Database Docker container created with --restart unless-stopped does not start the database after boot"
This is a follow up of https://github.com/oracle/docker-images/issues/141:

When starting the xe docker container in vagrant box via

docker run ... --restart unless-stopped

and rebooting via

vagrant halt
vagrant up

the docker container comes up after this, as I can see via docker ps, but database is not available.

Have to do to make the database available again via

docker stop container
dock

[2016-10-15 20:38] tkleiber commented on #186
[docker_log.txt](https://github.com/oracle/docker-images/files/531398/docker_log.txt)

[2016-10-15 21:40] dandan86 commented on #62
@Djelibeybi @yxwzaxns thank you, indeed the problem was that one.

[2016-10-16 01:44] #184 closed

[2016-10-16 05:11] brunoborges commented on #174
@tonymwinters, please provide all commands you performed, starting from building the images.

It is not clear whether you used an install image, or a domain image.
It is also not clear where exactly you called `unpack.sh` nor which other commands you may or may not called before `unpack.sh`.

[2016-10-17 02:20] nikhilkhedlekar opened #187 "Dockerfile for FMW Infrastructure Installer"
Hello.
The dockerfiles you have provided are very insightful. I was wondering if you would also commit a dockerfile for the FMW Infrastructure Installer.
Thank you!

[2016-10-17 06:09] xiaohel opened #188 "unable to create database, failing with ORA-04031"
I am creating a 12c database using `sudo docker run -m 4g --name ora12cr1_container -p 1521:1521 -p 5500:5500 -e ORACLE_SID=ora12cr1 -e ORACLE_PDB=pdb1 -v /opt/oracle/oradata oracle/database:12.1.0.2-ee`, but it is failing with `ORA-04031`:

[code]

[2016-10-17 06:55] brunoborges commented on #187
There are Dockerfiles for the FMW Infrastructure Installer. For example: [Dockerfile.infrastructure](https://github.com/oracle/docker-images/blob/master/OracleWebLogic/dockerfiles/12.2.1/Dockerfile.infrastructure)

[2016-10-17 06:55] #187 closed

[2016-10-17 08:41] xiaohel commented on #188
I am on Mac.

[2016-10-17 16:26] gvenzl commented on #186
This is interesting. From the log the following happens:

On Sat Oct 15 `20:17:43 2016` the DB installation was successful.
Then a regular shutdown happens at `20:19:05 2016`

    Stopping container.
    SIGTERM received, shutting down database!
    Shutting down Oracle Database 11g Express Edition instance.
    Sat Oct 15 20:19:05 2016

Then a successful startup happens again at `20:19:39 2016`:

[2016-10-17 16:33] gvenzl commented on #188
It looks like the container ran out of memory, @xiaohel. Note that -m only sets the limit for the container, not the minimum. Can you run the following on your Mac when you received that error: `memory_pressure`

[2016-10-17 18:09] tkleiber commented on #186
I try to map these steps to that what I do:

- fresh start of the virtualbox via vagrant
- creation of the docker container, which create the database too
- as this first shell shows the alert.log, the first database shutdown comes from a container stop in a second shell
- then the container is started from this shell again
- then I shutdown the virtualbox via vagrant, which stops the container an

[2016-10-17 18:47] gvenzl commented on #186
That could be the case. Is the mounting of the shared folder done automatically?

Can you try to leave the persistence layer inside the virtualbox environment rather than in a shared folder on windows? That should show whether it is a problem with the shared folder or something else.

[2016-10-17 20:27] tkleiber commented on #186
Have tried without persistence - then all works fine. The container and the database is restarting after booting the virtualbox.

Have then tried using persistence with mounting a local created directory in the virtualbox as docker volume, but then I get the errors directly from creating the docker container, which starts the database. I think this has something to do with groups and ownership, as

[2016-10-17 21:10] gvenzl commented on #186
Whichever directory is used for persistence has to be writable to by the user `oracle` or the group `dba` inside the Docker container.

[2016-10-18 00:18] xiaohel commented on #188
Hi @gvenzl , my system still had a large percentage of memory when the error occurred. The following is the output from `memory_pressure`:

[code]

Anything else I can do to find the reason ?

[2016-10-18 01:01] Djelibeybi commented on #188
If this is on a Mac, then showing `memory_pressure` might not show how much memory is being assigned to the hidden VM that's running Docker itself on the Mac. I haven't looked very deeply into it, but I imagine that VM is possibly running out of memory.

[2016-10-18 01:05] xiaohel commented on #188
@Djelibeybi Yes, I changed the memory of VM from 2G to 8G(maybe a certain number larger then 2G is enough), it is working like a charm now.

[2016-10-18 01:28] #188 closed

[2016-10-18 04:26] gvenzl commented on #188
@xiaohel, the database needs 2GB by itself. So 3GB should be enough, in case you want to save some memory.

@Djelibeybi, is there an easy way to figure out inside the conatiner how much memory the container has?

[2016-10-18 04:33] Djelibeybi commented on #188
Yes. `cat cat /sys/fs/cgroup/memory/memory.limit_in_bytes` will show you how much memory the container "sees", i.e. either the host memory or the limited memory provided to the container at runtime.

[2016-10-19 15:25] montge opened #190 "Patching with official oracle patches"
Request that a sample be provided of best practices in applying  PSU patches to the weblogic install (and oracle database) install so that the security scanners (nessus) are nolonger detecting vulnerabilities.

[2016-10-19 20:43] afulay opened #191 "Dockerfile for Oracle SSO"
Any suggestions on how to deploy Oracle Single Sign-On via docker? Any plans to provide dockerfile or image for it?

[2016-10-19 20:43] afulay commented on #135
yes, will give it a try.

[2016-10-20 04:30] brunoborges commented on #191
No plans. What would be the use case? Why would you put SSO inside a container?

[2016-10-20 12:24] aambasta opened #192 "oracle.kv.FaultException: Could not contact any RepNode"
I am new to Docker and nosql, I created a Oracle Linux VM (ipAddr 192.168.10.2) on my windows machine.

Further I created docker container (on this VM ) for kvlite and run my nosql-container as below:

**$ docker run --name nosql-container -p 5000:5000 -d kvlite:latest**

followed by below commands:
**$ docker exec -it nosql-container bash
\# java -jar lib/kvcli.jar -host localhost -port 5000
kv->

[2016-10-20 12:44] ramonPires commented on #192
You should use localhost, `KVStore store = KVStoreFactory.getStore(new KVStoreConfig("kvstore", "localhost:5000"));`

[2016-10-20 18:11] mriccell commented on #171
The problem with root ownership in 12211-medrec has been resolved

[2016-10-20 19:20] afulay commented on #191
Same reason as other apps, reduce the use of VMs, better consolidation, etc.

[2016-10-20 19:25] brunoborges commented on #191
But for production use or dev/test only?

[2016-10-20 19:25] #171 closed

[2016-10-20 20:49] afulay commented on #191
Dev/test for sure.

[2016-10-20 23:14] mriccell commented on #190
I have added to samples a 12211-patch sample which demonstrates how to apply a PSU to a WLS 12.2.1 install image.  After creating a new image extend and create domain image, start new WLS Server containers with the patched binaries.

[2016-10-20 23:14] #190 closed

[2016-10-20 23:27] mriccell commented on #151
Could you please try with the 12.2.1.1 or 12.2.1.2 medrec sample?

[2016-10-21 11:20] aambasta commented on #192
@ramonPires kvlite is running on a VM with IP Address 192.168.10.2 and not locally on my windows station.

[2016-10-21 11:25] ramonPires commented on #192
@aambasta you are running a kvlite container and your client application is running in virtual machine,right?

[2016-10-21 11:47] aambasta opened #196 "java -jar lib/kvstore.jar ping - ConnectException when using IPAddress"
I created a Oracle Linux VM (ipAddr 192.168.10.2) on my windows machine.
On this VM I further created a kvlite docker container.

In **Dockerfile** following is CMD issued:
`CMD ["java", "-jar", "lib/kvstore.jar", "kvlite"]`

Once kvlite docker container was created I ran following commands on my VM:
**$ docker run --name nosql-container -d kvlite:latest**
**$ docker exec -it nosql-container bash*

[2016-10-21 16:21] brunoborges commented on #196
Hey @gvenzl, could you find someone on the NoSQL team to help on this one?

[2016-10-23 10:39] gunners1990 commented on #62
I have downloaded the latest version still I am getting the error.
Can anybody tell me how to resolve it.

[2016-10-24 04:07] brunoborges commented on #62
@gunners1990 please read the README carefully :-)

[2016-10-24 06:14] gunners1990 commented on #62
@brunoborges I will try once again. Thanks for the prompt response.

[2016-10-24 11:51] aambasta commented on #192
@ramonPires kvlite container is running on a Virtual Machine and Java Client Code is running locally on my desktop.

[2016-10-24 13:14] anandchandak commented on #196
The IP address for the docker container running the store is different. To get the container ip address, do the following:
Get the docker container ip address. Issue this command immediately after creating the container : docker inspect nosql-container | grep -i ipadd

You can then ping the store using the container IP address:

docker run --name nosql-container -d kvlite:latest
docker exec -it no

[2016-10-24 15:00] ramonPires commented on #192
@aambasta you need to make a port forwarding in your virtual machine: http://www.howtogeek.com/122641/how-to-forward-ports-to-a-virtual-machine-and-use-it-as-a-server/

[2016-10-24 17:26] gvenzl commented on #186
I guess the issue was related to permissions outside the docker container. --> Close.

[2016-10-24 17:26] #186 closed

[2016-10-24 23:12] afulay commented on #135
None of the issues i reported have been addressed. If i just build the docker image and run it, it fails with a connection error on the first attempt. But bouncing the docker container seems to fix the issue.

It would be great if the domain is retained across container restarts. Currently, everything is wiped out and the domain recreated.

Thanks! Appreciate the help so far.

[2016-10-25 04:32] brunoborges commented on #135
@afulay mind to provide a pull request with what should be fixed?

[2016-10-25 10:04] aambasta commented on #196
@anandchandak Thanks for this info. Container IP Address is **172.17.0.2**
But further I need to access this NoSQL db remotely from a Java Client (on my windows desktop).

The Java code-snippet below:

`KVStore store = KVStoreFactory.getStore(new KVStoreConfig("kvstore", "192.168.10.2:5000"));`

This throws an exception:
**_oracle.kv.FaultException: Could not contact any RepNode at: 192.168.10.2:5

[2016-10-25 16:10] brunoborges commented on #196
@aambasta did you bind port 5000 of the container, to the host?

[2016-10-25 18:14] afulay commented on #191
Test/dev.

cheers, Adeesh

On Oct 20, 2016 12:25 PM, "Bruno Borges" <notifications@github.com> wrote:

[2016-10-26 01:06] afulay commented on #135
created PR to fix container restart issue. Will take care of other issues later.

[2016-10-26 05:25] aambasta commented on #196
@brunoborges Yes actually I tried that as well but getting same exception :(

`$ docker run --name nosql-container -p 5000:5000 -d kvlite:latest`

[2016-10-26 06:48] aambasta commented on #196
I resolved the issue by adding a param --net=host when running nosql-container
`$ docker run --name nosql-container --net=host -p 5000:5000 -d kvlite:latest`

Now instead of IPAddress you can use VM hostname in Java Client code to access kvlite DB.
`KVStore store = KVStoreFactory.getStore(new KVStoreConfig("kvstore", "VMHostname:5000"));`

[2016-10-26 06:49] aambasta commented on #192
I resolved the issue by adding a param --net=host when running nosql-container
`$ docker run --name nosql-container --net=host -p 5000:5000 -d kvlite:latest
`
Now instead of IPAddress you can use VM hostname in Java Client code to access kvlite DB.
`KVStore store = KVStoreFactory.getStore(new KVStoreConfig("kvstore", "VMHostname:5000"));`

[2016-10-26 07:32] #196 closed

[2016-10-26 07:32] #192 closed

[2016-10-26 19:04] brunoborges commented on #181
@pcouas, let me know if you still having problem. Closing for now.

[2016-10-26 19:04] #181 closed

[2016-10-26 19:05] brunoborges commented on #151
@jeroendewolf, mind to test 12.2.1.1 or 12.2.1.2 medrec sample that Monica added recently to the samples folder?

[2016-10-26 19:09] brunoborges commented on #174
@tonymwinters, any chance to get the detailed step-by-step you took when trying to use unpack ?

[2016-10-27 12:56] montge opened #199 "Oracle Database PSU patches"
Please provide recommended docker files for PSU installation for Docker based database.

[2016-10-27 12:58] montge opened #200 "Oracle Database sample docker-compose file"
Please provide sample docker compose file that includes persistent storage as sample.  This would be a good example to have handy as starting point for DBA's that are less familiar with docker, but work with teams using Docker Datacenter.

[2016-10-27 15:35] pcouas commented on #181
Yes I HAVE Still problem i see this problem next week

 

 

 

 

 

, "Mention"

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

{"api_version":"1.0","publisher":{"api_key":"05dde50f1d1a384dd78767c55493e4bb","name":"GitHub"},"entity":{"external_key":"github/oracle/docker-images","title":"oracle/docker-images","subtitle":"

[2016-10-27 17:50] nicolimo86 opened #202 "Weblogic 12.2.1.2 wrong Dockerfiles"
docker-images/OracleWebLogic/dockerfiles/12.2.1.2/Dockerfile.developer :
- `FROM oracle/jdk:8` should be replaced with  `FROM oracle/serverjre:8`
- there is a reference to a removed file: `container-scripts/create-wls-domain.py`

Same thing applies to  docker-images/OracleWebLogic/dockerfiles/12.2.1.2/Dockerfile.generic

[2016-10-27 18:15] #202 closed

[2016-10-27 18:29] brunoborges commented on #181
I'll reopen this bug when you provide the detailed procedure you took to attempt building this image.

[2016-10-28 13:42] armand1m commented on #200
Here you go:

[code]

[2016-10-29 03:31] ramonPires commented on #200
**A real example**
If you already have a database container running,that may be hard to recreate every time you run docker compose, and need to test something  like a dblink integration you can also specify in your docker-compose.yaml :
[code]
You also will need to add a network,because both containers need to be at same network:
`[user@machine]$ docker network create dbnet && docker network conne

[2016-10-29 10:55] michael-simons opened #203 "OracleDatabase setPassword.sh works only after first boot for 12.1"
Hey everybody,

The setPassword.sh scripts fails for me after second run of a container.

Steps to reproduce:

[code]

`/etc/oratab` doesn't contain any useful entry on second run, so

[code]

in setPassword gives an empty SID and oraenv keeps asking for input.

Also, you should probably use `. oraenv` instead of `source oraenv`, as it is recommended in oraenv for bash.

[2016-10-29 11:01] michael-simons commented on #203
I noticed that behavior while developing a workflow with the docker maven plugin.

The stop task removes the container by default.

https://dmp.fabric8.io/#docker:stop

If you / we go the extra mile to keep the database file outside of the container, I expect that the container can be deleted and then created and behave the same, for example like the postgres container does.

[2016-11-02 16:49] gvenzl commented on #203
The `runOracle.sh` script now also copies and keeps the `/etc/oratab` file in the volume location fixing the above issue.

Note `.` and `source` are synonymous in bash, i.e they are exactly the same, just like `[` and `test` are.
The reason for using `source oraenv` rather than `. oraenv` is because a `.` can quickly be overlooked, missed or removed while the `source` command is more obvious and t

[2016-11-02 16:49] #203 closed

[2016-11-02 17:43] x97mdr opened #205 "Building containers on top of OracleDatabase"
Hi,

I'd like to use a Dockerfile to add data into the database of the oracle/database:12.1.0.2-ee container that I've built.  The idea is to have a container that has data pre-populated to allow developers to get up and running quickly.

Note: we won't be using volumes, rather baking the sourced tables directly into the container image.

Here is my dockerfile

[code]

and the output ends with

`/

[2016-11-03 21:57] gvenzl commented on #205
The image itself doesn't contain a database yet, just the binaries. A database will be created on container startup or restarted if one already exists.

That's why `setPassword.sh` fails. It cannot find a SID and hence not set the ORACLE_HOME nor PATH and therefore not find sqlplus. Not that it would make sense, there is no database yet to set the password for.

So in order to build an image that

[2016-11-03 23:35] brunoborges commented on #205
Hey @gvenzl, what if you moved the createDB function to a second shell script, so users can call that right from the inherited Dockerfile? Would that make sense to this use case?

[code]

[2016-11-03 23:56] gvenzl commented on #205
Yeah, I'm thinking towards the same direction but have to think about it in a bit more detail. There still would have to be one script that decides whether to start the DB or create it and linking some files accordingly for the data container to work. And some variables probably need to be passed around. It can soon get a bit messy. But a wrapper script around those functions may not be a bad thin

[2016-11-04 00:15] x97mdr commented on #205
Thanks guys, I'll give that a try and let you know how it goes.

[2016-11-04 08:41] clemSeveillac commented on #205
Hi folks, doesn't "burning" the created database, including SYSTEM/SYSAUX tablespaces, redo logs... into a separate Docker image layer use up quite some space, for files that will be overwritten (via Copy on Write) at the first start i.e. never reused?

I've witnessed that by originally creating many "stacked" flavors of my DB content via image inheritance, and realizing I would take around 2 GB m

[2016-11-04 12:26] x97mdr commented on #205
Hi @clemSeveillac,

In our case, we are willing to pay the cost of disk space/RAM for startup time.  Our use case here is to provide a pre-configured database for integration testing to reduce startup time required to allow the tests to start.

I don't think we would use a docker container in this fashion for a production scenario.

[2016-11-04 15:59] gvenzl commented on #205
While I fully understand the use case @x97mdr (the original build files were built for exactly that one) I would like to understand why using the volume is not an option for you.
The volume would achieve the very same goal of a quick startup time, all you have to do is to create the DB once.

Is there a technical reason that I have overlooked or is it just a matter of making automation of integrat

[2016-11-05 11:25] jeroendewolf commented on #151
I will take a look at it. Currently I have a bigger problem ...the oracle maven repo seems to have problems...cant get my application to work. It used to work however.

Outlook voor Android<https://aka.ms/ghei36> downloaden

On Wed, Oct 26, 2016 at 9:07 PM +0200, "Bruno Borges" <notifications@github.com<mailto:notifications@github.com>> wrote:

@jeroendewolf<https://github.com/jeroendewolf>, mind

[2016-11-07 02:28] x97mdr commented on #205
For us we really care about:

- Starting off fresh with every run
- Ease of maintenance (volumes can get a bit messier)
- Always going from the last GA version to the current version.  For example: GA -> x, GA -> y, GA -> z, etc.

I am making some progress by slightly modifying the runOracle.sh script for the various runs.  However, my latest problem is this one:

[code]

Note that $ORACLE_BASE/or

[2016-11-08 20:04] gvenzl commented on #205
You need to invoke `dbca` - short for database configuration assistant - before starting the database. The initORCL.ora is most likely the spfile that the database is using.

[2016-11-14 18:47] gvenzl commented on #205
I kind of got to a hard stop on this because of the `VOLUME` instruction used within the original Dockerfile. It seems there is no way to unset that instruction in a derived Dockerfile and hence the database created during the image build ends up in an anonymous data volume which won't be part of the resulting image.

In short: Due to the `VOLUME` instruction in the base Dockerfile the DB is creat

[2016-11-14 19:01] x97mdr commented on #205
@gvenzl I ran into this problem as well.  I stripped the VOLUME instruction (and the symlink and move instructions meant to support it) from the Dockerfile and supporting .sh files.

This weekend I was able to successfully create my container with the pdb already in it.  The trick is to remember that for every statement in the Dockerfile a new container is spun up.  This is important because if yo

[2016-11-15 13:32] dbernheisel commented on #205
@x97mdr would you mind posting your working example (the modified 12c-ee dockerfile, and your shell scripts)? I presume the snippet above is your complete Dockerfile for getting a test database ready.  I have a gist here of my unsuccessful attempt so far: https://gist.github.com/dbernheisel/85ad468661e24e79584a2711c0b7745b

[2016-11-15 15:34] StefanScherer opened #208 "Windows Docker images?"
I just saw this GitHub repo with lots of Dockerfiles for Oracle products.
Are there plans to expand this for Windows Docker images as well?

So instead having multiple solutions from the community to build a Windows Java Docker image it would be better to have a standard way to use.

What about eg. Oracle Database as Windows Docker image? Is that possible?

Thanks!

Stefan Scherer
Docker Captain
M

[2016-11-15 19:14] brunoborges commented on #208
All maintainers are Mac and Linux users, so we can't really commit to provide Windows Docker Images. But it shouldn't be hard for the community to fork these recipes and make them work on Windows environments.

But I'll leave this issue open for a while to see if there is greater interest.

Thanks for the suggestion.

[2016-11-15 23:26] StefanScherer commented on #208
See eg. #209 running from a Mac as well.

[2016-11-15 23:35] StefanScherer commented on #208
Just out of curiosity. Are there plans to provide such images on Docker Hub? I know of some licensing / redistribution problems around Oracle Java and so on. That's why most people use OpenJDK, but there is no such version for Windows.

I'm just wondering, because Microsoft also provides their Windows base images with windowsservercore and nanoserver on Docker Hub using foreign addresses to keep t

[2016-11-15 23:36] Djelibeybi commented on #208
We have no way to validate/test the pull request (no Windows available) and we cannot ship our images on the Docker Hub.

We announced the Oracle Container Registry at Oracle OpenWorld 2016 which will host Oracle proprietary software images, but we cannot host Windows-based images on this registry as we do not have legal permission to distribute Windows binaries.

[2016-11-15 23:40] StefanScherer commented on #208
OK, good to know. Thanks for the details. Maybe AppVeyor can help you in near future so you don't need own Windows machines.

[2016-11-16 15:35] jcbrasuell commented on #205
Adding a similar use case to the thread.  I have a 12.1.0.2 EE container initialized with test data. I want to commit that container into a new image and use the new image in a build slave for automated software testing.

When I run the new image, the container log looks fine.  But when trying to verify instance from SQL Developer  I get a:
ORA-12514: TNS:listener does not currently know of servic

[2016-11-16 19:36] kharels opened #210 "buildDockerImage.sh errors out becase "-bash: /usr/java/default/bin/java: Permission denied""
I build the OracleJava and then tried to build the weblogic container but I keep running into this error below. Please let me know if you have any questions.

# ./buildDockerImage.sh -d -v 12.2.1
Checking if required packages are present and valid...
fmw_12.2.1.0.0_wls_quick_Disk1_1of1.zip: OK
=====================
Building image 'oracle/weblogic:12.2.1-developer' ...
Sending build context to Dock

[2016-11-16 19:56] gvenzl commented on #210
This looks like a permission issue inherited from the serverjre:8 image. @brunoborges, can you check whether you can reproduce the problem?

[2016-11-16 22:58] brunoborges commented on #210
I cannot. Works just fine here... for months...

[2016-11-16 23:39] gvenzl commented on #210
@kharels, can you share the build log of your OracleJava image build.

[2016-11-17 09:22] clemSeveillac commented on #205
@jcbrasuell did you strip the VOLUME from the Dockerfile before building it? Otherwise you'll have to reattach the old volume to your new container, as the committed image will not contain the modified database...

[2016-11-17 13:48] kharels commented on #210
Since I didnt have previous build log, I deleted all the old container images and tried rebuilding everything again. I ran into same issue. Please see the logs below.

# ./build.sh
Sending build context to Docker daemon 59.91 MB
Sending build context to Docker daemon
Step 0 : FROM oraclelinux:latest
latest: Pulling from oraclelinux
8f262c55eef2: Pull complete
1a8a6d51728e: Pull complete
3690474eb5

[2016-11-18 15:33] jcbrasuell commented on #205
Hi @clemSeveillac   - The volume is not a host volume for the database storage.  It is used for sharing database initialization data and sql plus log output.  Anyway, went ahead and added the volume to the new container runtime just to validate.  Same results.

[2016-11-18 19:35] armand1m commented on #200
I've actually tested the solution 2 today, and it doesn't really works.. Don't know if I'm doing something wrong, but I always need to create the `oradata` folder in the host system and execute  `sudo chown -R 1000:500 <path>` on it before running the container, as actually described in the Solution 1. If this is step is not done, the container is unable to start the oracle instance. It throws an

[2016-11-19 12:03] alexsantos opened #212 "Dockerfile for Oracle Forms 12c"
I've been using the docker images for Oracle Database on our development environment and now I need to test also Oracle Forms 12c.
Are there any plans on providing oficial dockerfiles for Forms also?
TYA

[2016-11-20 04:56] brunoborges commented on #212
There are no plans to provide Dockerfiles for Forms, but thanks for showing interest.

[2016-11-20 04:56] #212 closed

[2016-11-20 19:01] alexsantos commented on #212
I'll try to extend a WebLogic container for Oracle Forms and Reports then.
BTW, there are no Dockerfiles for 12.2.1.2 infrastruture. I'm doing it myself.

[2016-11-21 14:58] stephan2012 opened #213 "Enable Java Remote Debugging"
Is there any (standard) way to enable Java Remote Debugging for the managed server container? Setting
[code]
works for the Admin server only but not for the managed server. Passing something like ```-Xrunjdwp:transport=dt_socket,address=7777,server=y,suspend=n``` in JAVA_OPTIONS or USER_MEM_ARGS causes the managed server container to fail startup because options will be applied to both, Node Manag

[2016-11-21 15:13] lasjen commented on #205
Hi Gerald

Sorry for disturbing, but I have been working with the same issue.

If I remember correctly the original issue was to get an Oracle DB image working with docker-compose. Because of this there was a need for building an image with an Oracle database pre-created.

I also wanted to do this, and ended up with removing the VOLUME from the Dockerfile.

It would be very nice if VOLUME not is s

[2016-11-22 04:07] nikeneo opened #215 "WebLogic 12.2.1.2 -> build.sh errors out because /bin/sh: /u01/oracle/wlst: Permission denied"
I was trying to build 1221-domain image when I encountered this exception

Step 13 : RUN /u01/oracle/wlst /u01/oracle/create-wls-domain.py &&     mkdir -p /u01/oracle/user_projects/domains/$DOMAIN_NAME/servers/AdminServer/security &&     echo "username=weblogic" > /u01/oracle/user_projects/domains/$DOMAIN_NAME/servers/AdminServer/security/boot.properties &&     echo "password=$ADMIN_PASSWORD" >> /

[2016-11-22 15:32] brunoborges commented on #215
Make sure the script `wlst` is executable in your local host environment prior to build.

[2016-11-22 18:33] gvenzl commented on #200
A Docker Compose sample file is now provide within the samples folder: 12102-docker-compose

As to the error mentioned above, this works as expected. When using Docker volumes Docker merely creates a folder outside the container with the typical characteristics of a Linux folder. That is, a new folder with read and execute permissions for everybody and write permission for the current user: `drwxr

[2016-11-22 18:33] #200 closed

[2016-11-22 18:55] gvenzl commented on #210
That looks all good so far. I wonder what the permissions of your java binary is. Can you please jump into your Java Docker image and do a `ls -al` on your Java bin folder:

To jump into the container`docker run -ti oracle/serverjre:8 /bin/bash`
And then execute `ls -al /usr/java/default/bin/`:

Here is what I get, all permissions are correct:

    [root@a5a79a5fec7d /]# ls -al /usr/java/default/b

[2016-11-22 19:21] kharels commented on #210
All of the perms looks good. Please see below

# ls -al /usr/java/default/bin/
total 452
drwxr-xr-x 2 10 143   4096 Sep 23 04:20 .
drwxr-xr-x 8 10 143   4096 Sep 23 04:20 ..
-rwxr-xr-x 1 10 143   7965 Sep 23 04:20 appletviewer
-rwxr-xr-x 1 10 143   7941 Sep 23 04:20 extcheck
-rwxr-xr-x 1 10 143   7973 Sep 23 04:20 idlj
-rwxr-xr-x 1 10 143   7925 Sep 23 04:20 jar
-rwxr-xr-x 1 10 143   7957 Sep 23 0

[2016-11-23 05:50] brunoborges commented on #210
I couldn't reproduce the bug. See my test in this recorded [asciinema](https://asciinema.org/a/65kyti2xiqfu38mvvbnb5m5r9).

[2016-11-23 05:50] #210 closed

[2016-11-23 16:07] kharels commented on #210
Thanks for trying to reproduce. I cleaned up on my side and tried building again and I see different error now. May be this will help you steer in right direction.

`# ./buildDockerImage.sh -d -v 12.2.1
Checking if required packages are present and valid...
fmw_12.2.1.0.0_wls_quick_Disk1_1of1.zip: OK
=====================
Building image 'oracle/weblogic:12.2.1-developer' ...
Sending build context

[2016-11-23 16:11] kharels commented on #210
Another thing I noticed is that my build context is 398 mb vs your is north of 2.5 GB

[2016-11-23 16:58] brunoborges commented on #210
Remove all of your images and containers, and double check the binaries you've downloaded.

[code]

[2016-11-23 17:37] kharels commented on #210
# Removed everything

`# docker images
REPOSITORY          TAG                 IMAGE ID            CREATED             VIRTUAL SIZE`
`# docker ps -a
CONTAINER ID        IMAGE               COMMAND             CREATED             STATUS              PORTS               NAMES`

# Checked md5sum
`# cat Checksum.developer`
`# Download WebLogic Server Quick Installer 12.2.1`
`#`
`# - http://www.oracle.

[2016-11-23 18:56] brunoborges commented on #210
This seems to be some issue in your host environment.

What is your Docker version and what OS are you using?

[2016-11-23 19:21] kharels commented on #210
Here you are. I am using centos distro

`# uname -a`
`Linux CIS-sandbox 2.6.32-642.6.2.el6.x86_64 #1 SMP Mon Oct 24 10:22:33 EDT 2016 x86_64 x86_64 x86_64 GNU/Linux`
`# rpm -qa| grep docker`
`docker-engine-1.7.1-1.el6.x86_64`

[2016-11-23 19:23] Djelibeybi commented on #210
CentOS 6 and that Docker version are very old and no longer supported by upstream or by us.

You should switch to CentOS 7 (which supports modern Docker versions) or use Oracle Linux 7 with UEK4.

[2016-11-23 19:25] kharels commented on #210
Thank you guys for the support. I will do that.

[2016-11-23 20:09] brunoborges commented on #215
Please post your docker version and host OS:

[code]

[2016-11-29 14:17] marcelo-ochoa opened #219 "runOracle.sh cat /sys/fs/cgroup/memory/memory.limit_in_bytes return a big value"
OracleDatabase/dockerfiles/12.1.0.2/runOracle.sh have a checking:
[code]
This checking always returns 18446744073709551615 which is maximum [addressable memory in 64 bits systems](https://github.com/docker/docker/issues/18087), so the if fails with  **[: 18446744073709551615: integer expression** expected and is not doing the expected checking.
Marcelo.

[2016-11-29 20:24] MattAtTTU opened #220 "Changing Node Manager password does not work."
When changing the Node Manager password during build, per the documentation, the build completes without issue.  However, when running a container from the image, either by executing the default startNMandOHS.sh script or by calling configureWLSProxyPlugin.sh, the startup will fail with the following error.

[code]

The issue is due to the start-ohs.py script containing the nm_pass variable, which

[2016-11-29 20:53] MattAtTTU commented on #220
I should have noted this is in reference to the Oracle HTTP Server source.

[2016-11-30 00:49] gvenzl commented on #219
Fixed

[2016-11-30 00:49] #219 closed

[2016-11-30 01:28] marcelo-ochoa opened #222 "Oracle 12c EE - ORA-27106: system pages not available to allocate memory"
Using Oracle 12c EE version throws ORA-27106: system pages not available to allocate memory due missed parameter in sysctl.conf file. According to Oracle documentation this parameter should be:
`vm.hugetlb_shm_group=dba_gid`
for example, if groupadd -g 500 dba is Dockerfile.ee:
`vm.hugetlb_shm_group=500
`
at docker run time running as root is fixed by calling:
[code]
At Dockerfile.ee script the ef

[2016-11-30 01:39] marcelo-ochoa opened #223 "Oracle 12c EE - ORA-04035: unable to allocate 4096 bytes of shared memory in shared object cache "JOXSHM" of size "1073741824""
Using Oracle 12c EE version throws **ORA-04035: unable to allocate 4096 bytes of shared memory in shared object cache "JOXSHM" of size "1073741824"** due noexec flag in mount option for /dev/shm. This is caused when using the Oracle internal JVM.
According to Oracle dev team the issue is fixed re-mounting /dev/shm with exec flag so at docker run time running as root is fixed by calling:
[code]
At

[2016-11-30 11:21] jediubuntu opened #224 "/bin/sh: /usr/java/default/bin/jar: Not a directory"
I'm trying to build an image (infrastructure ) ,I'm stuck at this error :->

[code]

[2016-11-30 16:30] cyluxx opened #225 "WLSTException:No element NMProperty is found"
Hello,

Something went wrong with wlst trying to set nodemanager properties. I'm trying to build a 1221-Domain Image and I must admit that I had changed some domain-properties, but nothing serious. This error occurs in "create-wls-domain.py". Where can I find any documentation about NMProperties? It seems that the Oracle documentation does not include this keyword and I'm not sure how to use it.

[2016-11-30 16:58] brunoborges commented on #224
Please provide the following:

[code]

[2016-11-30 17:04] brunoborges commented on #225
Hi @cyluxx, I'd say this is an issue with your customized WLST, not with the samples nor Dockerfiles we have in this project. I suggest you post your question to either [StackOverflow](http://stackoverflow.com/tags/weblogic) (with the `weblogic` tag), or to post to the [Oracle Community](https://community.oracle.com/community/fusion_middleware/weblogic/) website.

[2016-11-30 17:04] #225 closed

[2016-12-01 05:54] jediubuntu commented on #224
docker --version

Docker version 1.12.2, build a8c3fe4

uname -a

Linux 4.1.12-61.1.19.el7uek.x86_64 #2 SMP Fri Nov 18 17:00:09 PST 2016 x86_64 x86_64 x86_64 GNU/Linux

[2016-12-01 14:18] marcelo-ochoa opened #226 "Sometime openssl rand -base64 8 generated password does not conform to the Oracle recommended standards"
runOracle.sh script uses **_openssl rand -base64 8_** command to generate a random password, but some time it doesn't included a number inside, for example **_LhCsOGTOaTM=_** warning generated is:

is not a big problem but can confuse non experimented users :)

[2016-12-01 18:33] brunoborges commented on #226
@gvenzl perhaps appending a 0 at the end just to make sure it has a number would be sufficient...

[2016-12-02 15:00] vkakhnych opened #227 "Problem with container run"
Builded image from instruction with command: _buildDockerImage.sh -v 12.1.0.2 -s_, but on running getting:

docker run --name oracle -p 1521:1521 -p 5500:5500 -e ORACLE_SID=ORCLCDB -e ORACLE_PDB=ORCLPDB1 -v /home/docker/oracle_db:/opt/oracle/oradata oracle/database:12.1.0.2-se2
ORACLE AUTO GENERATED PASSWORD FOR SYS, SYSTEM AND PDBAMIN: gK/tc5IJL8A=

LSNRCTL for Linux: Version 12.1.0.2.0 - Product

[2016-12-02 17:27] gvenzl commented on #226
Yes, that is probably a good approach. Note, the auto generated password can always be reset with `docker exec <container name> ./setPassword.sh <your password>`.

[2016-12-03 08:52] gvenzl commented on #205
@lasjen provided an example of how to create a Docker container with a prebuilt database inside, see `samples/prebuiltdb`

[2016-12-03 08:52] #205 closed

[2016-12-05 09:21] vkakhnych commented on #227
Thanks a lot!

[2016-12-05 09:21] #227 closed

[2016-12-06 04:14] rubenst2013 opened #228 "Produced Docker Image has very large HDD footprint"
I love this new official Docker Image for Oracle DB

Though, call me ignorant, the produced size of an empty DB Docker Image takes up about 11.1GB and pre-building an otherwise empty DB out of it amounts to a grand total of whooping 15GB! O.O
Am I missing any cleanup steps here? Otherwise the sheer size of the thing hinders our efforts and definitely is any issue for us.

Thanks in advance for any

[2016-12-06 08:45] brunoborges commented on #228
Out of curiosity, what is your average VM size with only the DB installed?

[2016-12-06 09:55] clemSeveillac commented on #228
@rubenst2013 note you can significantly lower the image size by "squashing" its layers, with that flow (which will become a one liner in docker 1.13 experimental mode):

1. ./buildDockerImage.sh <yourUsualArguments>
2. docker run --name tmp <yourNewImageName> true
3. docker export tmp | docker import - newSquashedRawImageName
4. (with a very similar Dockerfile where FROM points to newSquashedRawIm

[2016-12-06 12:40] rubenst2013 commented on #228
@brunoborges : Our average, empty DB/VM size (VMware) is right around what @clemSeveillac said: 6GB

@clemSeveillac : Thanks for the info, I will give that a go ASAP and keep you guys posted of my progress :+1:

[2016-12-06 21:59] rubenst2013 commented on #228
it worked, the image actually got quite a bit smaller! YAY :D

REPOSITORY			|	TAG				|	IMAGE ID		|	CREATED			|	SIZE
--------------------|-------------------|-------------------|-------------------|-------------
oracle/db-squashed	|	12.1.0.2-se2    |    6aceb22776be	|	6 seconds ago	|	9.80 GB
oracle/db-prebuilt	|	12.1.0.2-se2    |    4c44e5f0d638	|	17 hours ago	|	15.16 GB
oracle/database		|	12.1.0.2

[2016-12-06 22:54] brunoborges commented on #228
Alright, glad things worked out! :+1:

[2016-12-06 22:54] #228 closed

[2016-12-06 22:55] brunoborges commented on #224
@Djelibeybi , any thoughts on this one?

[2016-12-06 23:05] Djelibeybi commented on #224
What's the output of:

`$ docker run --rm -t oracle/serverjre:8 ls -la /usr/java/default/bin/jar`

You should get the following:

[code]

I'm guessing the `oracle/serverjre:8` image was not created correctly, i.e. the actual tarball wasn't downloaded, so the `FROM` image doesn't actually have java installed. This happens if the .download file is just renamed instead of being replaced.

[2016-12-07 08:15] clemSeveillac commented on #228
Same here, glad we helped you save some space! @rubenst2013 while `oradata` is exactly taking the space you want (tablespaces etc.), I agree `product` is annoyingly big...

-> Folks, if you find way to remove unneeded things from product, I'm all ears -- besides the obvious `/opt/oracle/product/12.1.0.2/dbhome_1/sqldeveloper` which you probably don't need in your container and which takes 167 MB.

[2016-12-07 09:43] brunoborges commented on #228
Hey @gvenzl... Based on @clemSeveillac's suggestion of removing sqldeveloper folder, what do you think of a `shrinkInstallation.sh` script that removes that, and other (useless in a container) things?

[2016-12-07 14:49] rubenst2013 commented on #228
I think a special shrink script, one for post-installation and perhaps one for housekeeping would be awesome!

[2016-12-09 01:38] rubenst2013 opened #229 "Create Image without Pluggable Database Feature"
Hi,

Our application is incompatible to the PDB feature in Oracle DB 12c.

So far my internet searches didn't yield any useful info about disabling that feature.
I only saw a few reference in the Dockerfile and build scripts but I am unsure if commenting them out is enough.

Besides, wouldn't the thought rather be 1 container - 1 database, instead of 1 container and 1 CDB + N PDBs? :)

I appreciat

[2016-12-10 01:57] brunoborges commented on #229
You can't easly port a CDB, but you can easily port a PDB. If you are a Java developer, think of it this way:
Your java app = PDB
JVM = CDB
Then the container itself

[2016-12-10 21:18] vadakr commented on #188
Ran into the same problem with Docker on Windows - increasing the memory to 3GB did the trick as recommended by @gvenzl

From the Windows task bar icons, find the Docker icon, right click it, choose 'Settings'. When the 'Settings' window pops up, click 'Advanced' and set memory to 3072 MB.

[2016-12-11 14:57] nicolimo86 opened #230 "OracleDatabase - Macbook not enough swap space"
Hi all,
after I downloaded the binaries for Oracle Express 11.2.0.2 I tried to build it. I got the following error:

[code]

[2016-12-11 16:05] gvenzl commented on #226
This issue is now fixed, a "1" will be appended to the password automatically.

[2016-12-11 16:05] #226 closed

[2016-12-12 08:01] brunoborges commented on #224
@jediubuntu, can you please provide the details asked by Avi above?

[2016-12-12 10:18] rubenst2013 commented on #229
Hi @brunoborges,

we are java developers :) Though I myself am not and we have just started experimenting with Docker. Sadly our company does not adapt any proprietary DB features to stay DB agnostic. That's why I am having trouble placing PDB at our product management, but I am certainly trying because I see the value in it.

Also I think I managed to change the DB creation scripts and templates

[2016-12-12 11:28] jediubuntu commented on #224
Sorry , I couldn't reply , was away.

It seems java was not installed , as suggested by @Djelibeybi .
Silly mistake.

Thanks for your time.

[2016-12-12 12:02] gvenzl commented on #229
Hi @rubenst2013,

I think there is a misunderstanding here. The CDB/PDB (Container Database / Pluggable Database) in Oracle 12c is not a feature, it's rather a complete change in the Oracle Database architecture. [Oracle has deprecated the traditional architecture, now referred to as "Non-CDB architecture".](http://docs.oracle.com/database/121/UPGRD/deprecated.htm#BABDBCJI) That means that sooner

[2016-12-12 12:02] #229 closed

[2016-12-12 12:29] #224 closed

[2016-12-12 12:34] gvenzl commented on #230
Hi @nicolimo86,

Looks like that your docker environment doesn't have enough swap space configured. Have a look at https://forums.docker.com/t/docker-for-mac-configure-swap-space/20656, this looks almost identical to your issue and the user found a solution for how to increase the swap size of the Docker environment. Hopefully this works for you too.

[2016-12-12 12:48] nicolimo86 commented on #230
@gvenzl thank you, I'll let you know if it works.

[2016-12-12 16:38] frenchc opened #232 "Oracle Database - Text file busy while installing oracle linux"
Just tried to create an oracle DB image on debian jessy. It failed with

/bin/sh: /opt/oracle/install/setupLinuxEnv.sh: /bin/bash: bad interpreter: Text file busy

Add sync to chmod fixed the issue.

[2016-12-12 17:33] gvenzl commented on #232
I'm not sure whether `sync` is a fix to the issue or just a workaround. The error above would also be generated when the file is open for write when you try to execute it.

Is this problem consistently reproducible on your environment?

[2016-12-12 17:58] frenchc commented on #232
Consistent problem. Fixed with sync. Doesn't work without.

See here for related discussion https://github.com/docker/docker/issues/9547

[2016-12-12 19:25] #230 closed

[2016-12-12 19:32] msimion commented on #232
same os, same problem; fixed with sync; thanks!

[2016-12-12 20:25] gvenzl commented on #232
Thanks, added the synch in both build files. PR coming soon.

[2016-12-12 20:25] #232 closed

[2016-12-12 20:46] gvenzl commented on #223
Can you please share more details on your test case and what you are trying to do. A simple test case with a one liner Java stored procedure works well without raising this error.

[2016-12-12 21:00] gvenzl commented on #222
I don't think that it is good practice to explicitly modify kernel parameters inside a container as they may affect the unix host as well. And it may require to run the container in `privileged` mode which is also not desirable.
Docker 1.12 has introduces a parameter for setting sysctl parameters inside the container at runtime: [Configure namespaced kernel parameters (sysctls) at runtime](https:/

[2016-12-12 21:14] Djelibeybi commented on #222
Can we confirm if setting this inside the container actually changes the host? To be honest, my DB knowledge is pretty slim, so I'm wondering if there is another workaround that doesn't require making this change.

The simplest change is to do at the host level though.

[2016-12-12 22:18] marcelo-ochoa commented on #223
Here my test case:
as root:
[code]
as a regular user:
[code]
in another session attach with bash to execute sqlplus on PDB1:
[code]
attaching in another bash you can see at .trc files something like this:
[code]
Best regards, Marcelo.

[2016-12-12 22:49] marcelo-ochoa commented on #222
Changing this parameter at the container level change the host level value, here the test case:
[code]
because by adding --privileged parameter we allow that. This could be a problem in a host with multiple containers requiring this parameter, if there is a workaround for this ora-error rather than changing hugetlb_shm_group any tip will be great.
--sysctl parameter is not allowed at Oracle Contai

[2016-12-13 00:39] brunoborges commented on #222
@marcelo-ochoa out of curiosity, what is the value of running Oracle DB on a Docker container inside Container CS, instead of DBCS ?

[2016-12-13 01:11] marcelo-ochoa commented on #222
Well as in my blogpost a Docker image running in Oracle CS service run
faster than in DBAAS, but is only just for fun.
I am preparing another post with my personal test of the CS.

El 12/12/2016 21:39, "Bruno Borges" <notifications@github.com> escribió:

[2016-12-13 08:54] brunoborges commented on #222
mind to share the URL to your blog post?

[2016-12-13 10:19] marcelo-ochoa commented on #222
Sure.

El mar., 13 dic. 2016 a las 5:54, Bruno Borges (<notifications@github.com>)
escribió:

[2016-12-13 18:41] gvenzl commented on #222
@marcelo-ochoa, can you also please share a test case and/or background to this?

[2016-12-13 18:45] marcelo-ochoa commented on #222
Yes, my idea is to write another blog post similar to this [test](http://marceloochoa.blogspot.com.ar/2016/11/first-touch-with-oracle-cloud-services.html) including other topics such as private registry usage.

[2016-12-13 18:59] gvenzl commented on #223
Thanks, seems like others had similar issues with /dev/shm: https://github.com/docker/docker/issues/6758

However, this issue got closed with not much explanation why nor a feasible workaround.

[2016-12-14 02:55] markthink opened #234 "root password problem"
Oracle root user password is what? Docker cp copy the files are root permissions, I would like to modify the file owner and permissions, su no root password can not enhance permissions.

Thanks

![image](https://cloud.githubusercontent.com/assets/1718716/21168118/88b8a79e-c1ec-11e6-92df-c8ea6c12081b.png)

[2016-12-14 03:09] markthink commented on #234
The problem has been solved, dockerfile joined the following two lines, re-build can be

[code]

[2016-12-14 03:09] #234 closed

[2016-12-15 08:50] gvenzl commented on #222
I still struggle to understand the problem here. The container is created with `use_large_pages=TRUE` (the default) which means that the database may use large pages if available but doesn't have to, see the [documentation](https://docs.oracle.com/database/121/REFRN/GUID-1B0F4D27-8222-439E-A01D-E50758C88390.htm#REFRN10320).

That being said, the [documentation for enabling HugePages support](https

[2016-12-15 12:22] marcelo-ochoa commented on #222
OK, so as a workaround the instance created by this Docker image should be changed the [dbca.rsp.tmpl](https://github.com/oracle/docker-images/blob/master/OracleDatabase/dockerfiles/12.1.0.2/dbca.rsp.tmpl) file with a parameter  **USE_LARGE_PAGES=FALSE**, because by default is **TRUE**.
And telling users that this parameters will affect the performance when using large SGA values.

[2016-12-15 21:24] gvenzl commented on #222
No. If you follow the link to the documentation you will find that `TRUE` means that the database can use huge pages if available and can even mix between huge pages and regular pages if there aren't enough huge pages available. However, if there are no huge pages available the database will use regular pages which means that huge pages are not mandatory to be there. Hence why `TRUE` is the defaul

[2016-12-16 14:30] odedia opened #235 "sh: tuxedo12.1.3_silent_install.sh: No such file or directory"
It is unclear from the documentation what to do with tuxedo12.1.3_silent_install.sh.template.

just running a command like:

odedia$ ./buildDockerImage.sh -v 12.1.3 -i tuxedo121300_64_Linux_01_x86.zip -s

Fails saying it cannot find the installer.sh.

Any ideas what is missing?

Output log below.

Thanks!

=====================
Skipped MD5 checksum.
=====================
=====================
Send

[2016-12-17 07:31] brunoborges commented on #235
Have you downloaded the actual binaries?

[2016-12-17 08:37] odedia commented on #235
I did download the zip file, hopefully the correct one.  See in the logs the zip file name in step 4 that passed.

[2016-12-17 08:38] odedia commented on #235
Where should it be placed, in upper folder or inside folder with version number? The documentation is not clear enough.

[2016-12-19 08:18] brunoborges commented on #235
As you can see on [this line](https://github.com/oracle/docker-images/blob/master/OracleTuxedo/dockerfiles/12.2.2/Dockerfile#L22) the binary must be on the same directory as the Dockerfile

[2016-12-19 08:52] odedia commented on #235
When placing the zip file inside the folder, i get:

alonbl02:dockerfiles odedsh$ ./buildDockerImage.sh -v 12.1.3 -s -i tuxedo121300_64_Linux_01_x86.zip
=====================
Skipped MD5 checksum.
=====================
Download the Tuxedo ZIP Distribution and
drop the file tuxedo121300_64_Linux_01_x86.zip in this folder before
building this Tuxedo Docker container!

Maybe I misinterpreting the mea

[2016-12-19 21:09] nicolimo86 commented on #230
Indeed the problem was that one.

[2016-12-19 21:19] gvenzl commented on #230
I'm glad to hear!

[2016-12-19 22:59] brunoborges commented on #235
Can you please remove the `-s` parameter?

[2016-12-21 14:36] marcelo-ochoa commented on #222
@gvenzl I remember the exception when trying to configure a large SGA and using it, I'll try to reproduce it with a simple test case.

[2016-12-21 16:29] nackie99 opened #236 "WLS domain docker build -t 1221-domain gives ...Unknown instruction: ECHO"
There has been a subtle change in docker parsing and this error occurs due to this. The fix is simple (once you find out why!), there is extra whitespace after '\' in a continuation line, it just needs to be removed.

So in OracleWebLogic/samples/1221-domain, edit line 60 in Dockerfile to remove the extra space at the end and it will work again.

Hope this helps save time for those using the sampl

[2016-12-21 17:26] #236 closed

[2016-12-21 17:26] brunoborges commented on #236
Thanks @nackie99 !

[2016-12-21 20:36] AlpNek opened #237 "root password of container"
What is the root password of the container?

[2016-12-22 00:14] brunoborges commented on #237
More information would be helpful. There are many projects and many samples in this repository.

[2016-12-22 01:04] Djelibeybi commented on #237
There is no root password inside a container. It's never set during the build process.

[2016-12-22 09:41] nackie99 commented on #237
You can change the sample Dockerfile's to set one or if you just want to look around, then you can use one of the many examples found with a little Googling:

docker exec -u 0 -it mycontainer bash

[2016-12-22 14:19] macfol opened #238 "Unable to set ssh."
Hi,

I'm having problem to set ssh on oracle linux in a docker.

I have tried to do so according to [tutorial](https://docs.oracle.com/cd/E18930_01/html/821-2426/gksja.html#gksrd)

When I try

I get:

Appreciate any help

[2016-12-22 18:12] #237 closed

[2016-12-22 19:14] Djelibeybi commented on #238
You cannot start OpenSSH inside an Oracle Linux Docker container.

[2016-12-22 19:14] #238 closed

[2016-12-23 07:25] macfol commented on #238
Thanks for the information. Generally what I would like to achieve is to create a Docker instance of Oracle DB wich can be connected to via SSH.
Is there any way to do it?

[2016-12-23 12:42] zaunerc opened #239 "Docker image for Oracle Database 12c EE fails to build"
When using the latest clone of this repository (commit ``b4f2f00a70e60fb1b39767ff6c085546dada9bb6``) to build an Docker image for the Oracle Database 12c Enterprise Edition I get the following error:

[code]

[2016-12-23 13:16] gkgeorgiev commented on #239
That's exactly the same issue I'm struggling now! I use the latest Master version and I have the same behavior. Any break through?

[2016-12-23 13:35] gvenzl commented on #239
Looks like the database binaries installation failed before and hence why `/opt/oracle/oraInventory` isn't created. Can you please post the entire output of the build.

Thx,

[2016-12-23 13:48] gkgeorgiev commented on #239
Here you go...
[output.txt](https://github.com/oracle/docker-images/files/670868/output.txt)

Thanks in advance!

[2016-12-23 14:42] gvenzl commented on #239
There you go, you don't have enough space available for the installation:

    Preparing to launch Oracle Universal Installer from /tmp/OraInstall2016-12-23_01-42-13PM. Please wait ...
    [FATAL] [INS-32021] Insufficient disk space on this volume for the selected Oracle home.
       CAUSE: The selected Oracle home was on a volume without enough disk space.
       ACTION: Choose a location for Ora

[2016-12-23 14:56] gkgeorgiev commented on #239
Strange, isn't there any way to exit Docker script on the first error?

Hmm where does the space limit come from? From the unix user quota? I thought that root user doesn't have disk space quota? The VirtualBox image that my Kitematic is using, has dynamically allocated storage, which is limited only by the physical disk space (150GB free).

[2016-12-23 18:35] Djelibeybi commented on #238
That's not really how you interact with Docker containers. You SSH into the host running the container, then use Docker commands to interact with the database running inside the container. The only thing that runs inside the container itself is the database.

[2016-12-23 19:37] zaunerc commented on #239
@gkgeorgiev, I am using Debian Stretch running Docker 1.12.5:

[code]

@gvenzl, you are right. I took a second look at the log file of my Docker build run and it reports that there is no space left for the Oracle Universal Installer to continue ([docker_build_log.txt](https://github.com/oracle/docker-images/files/671364/docker_build_log.txt)).

Though I don't know why I ran out of hard disk space.

[2016-12-23 21:13] gkgeorgiev commented on #239
@zaunerc, you are the man! Thanks for finding this docker option! I will try it next Monday.

Marry Christmas to all of you guys!

[2016-12-24 13:54] marcelo-ochoa commented on #222
FYI
  - [Some conclusion of 1 month usage of OCCS](http://marceloochoa.blogspot.com.ar/2016/12/first-touch-with-oracle-container-cloud.html)
  - [How to provisioning latest Oracle Apex distribution on Docker and 11gXE for course setup, development, testing and production environments](http://marceloochoa.blogspot.com.ar/2016/12/building-docker-image-with-oracle-11gxe.html)
  - [Update of the previ

[2016-12-26 17:03] gkgeorgiev opened #240 "Timeout while trying to download OracleLinux repodata"
While trying to build my own Oracle 12c image, I get timeout on
_yum -y install oracle-rdbms-server-12cR1-preinstall unzip wget tar openssl && \_

This is the log error from Docker:

I checked the URL via the browser and it seems to be working without any latency.
This is my docker version: Docker version 1.12.5, build 7392c3b
My OS is Ubuntu 16.10 LTS.

I tried even to add manually the Oracle Rep

[2016-12-26 18:36] zaunerc commented on #239
@gkgeorgiev: After increasing the size of the base device I could successfully build the image and start the container.

[2016-12-27 02:05] jefp commented on #235
Hi @brunoborges / @odedia , it seems a bug of the Dockerfile for tuxedo 12.1.3. It never copy the file tuxedo12.1.3_silent_install.sh.
Instead, it only copy install.sh which is never [called.](https://github.com/oracle/docker-images/blob/master/OracleTuxedo/dockerfiles/12.1.3/Dockerfile#L20)

This was fixed for Dockerfile 12.2.2

[2016-12-27 08:40] gkgeorgiev commented on #239
How did you pass the basesize option? Was it the same way like me or you have another approach?

[2016-12-27 10:52] zaunerc commented on #239
I created the file `/etc/systemd/system/docker.service` and added the following lines:

[code]

After reloading the systemd unit files and restarting the Docker daemon I verfied that the base device size has actually been increased:

[code]

Finally I deleted all images and containers and rebuilt the Oracle 12c EE docker image. I did this to make sure that all images which are part of the Oracle D

[2016-12-27 11:54] gvenzl commented on #239
Glad to see that you managed to change the configuration and build the image. Note, Oracle recommends to use `btrfs` instead of the device mapper. As per the [Oracle Linux Docker User's Guide (4.)](https://docs.oracle.com/cd/E37670_01/E75728/html/section_kfy_f2z_fp2.html):

[2016-12-27 11:54] #239 closed

[2016-12-27 11:56] gvenzl commented on #222
Thanks @marcelo-ochoa,

I will close this issue until you can reconfirm with a test case that this is indeed an issue.

[2016-12-27 11:56] #222 closed

[2016-12-27 11:59] gvenzl commented on #240
Are you sure that there is no firewall enabled on your OS blocking the container from reaching the YUM repo?

[2016-12-27 12:28] gkgeorgiev commented on #240
@gvenzl , yes, It's a fresh Ubuntu installation, and the only firewall service I could find is inactive.
I've also tried wget with the URL and it downloads the XML.

Another important thing that came to my mind - could it be that the Docker storage driver I'm using is AUFS? It seems that other's with 'devicemapper' driver manage to build an image.

[2016-12-28 07:32] chiroito opened #241 "Oracle Database 12c EE -ORA-48122: error with opening the ADR block file"
I ran Oracle Database image as following command. However error that DB instance could not create ADR file has happened. Whole log is following.

[code]

I ran the command on following environment. Especially differences between with common environment is that this docker host use ZFS storage driver and Unbreakable Enterprise Kernel on Oracle Linux.

[code]

[2016-12-28 07:59] chiroito commented on #241
Database instance seems to write to /opt/oracle/diag directory using O_DIRECT. However any file system such as NFS and ZFS can not use O_DIRECT.
If docker host use these file system as /var/lib/docker , Database instance can not create file to  /opt/oracle/diag. Docker container need to mount /opt/oracle/diag onto other file system such as ext4 on docker host.

[2016-12-28 12:34] gkgeorgiev commented on #240
OK, I found the issue, it was related to my docker daemon not having DNS configured.
The solution on this post helped me: [http://stackoverflow.com/questions/25130536/dockerfile-docker-build-cant-download-packages-centos-yum-debian-ubuntu-ap](url)

[2016-12-28 12:34] #240 closed

[2016-12-28 14:25] odedia commented on #235
Hi @jefp,
12.2.2 fails on the following error much earlier:

odedsh01-mac:dockerfiles odedsh$ ./buildDockerImage.sh -v 12.2.2 -s -i tuxedo122200_64_Linux_01_x86.zip
=====================
Skipped MD5 checksum.
=====================
=====================
Sending build context to Docker daemon 292.4 MB
Step 1 : FROM oracle/serverjre:8
Pulling repository docker.io/oracle/serverjre
Error: image oracle/

[2016-12-28 15:53] gkgeorgiev opened #244 "Oracle DB image build failed due to missing orainstRoot.sh"
I've checked out the master branch and I was trying to build Oracle DB image.
These are the script parameters I've used:

These are the logs:
[output5.txt](https://github.com/oracle/docker-images/files/675796/output5.txt)

Just for the record, previously I came across docker storage default dedicated space issue, but I increased it to 25GB.

This is my docker deamon status:

`● docker.service - Do

[2016-12-29 03:51] lawmillion opened #245 "build docker-oracle by xe error sysctl"
Error
sysctl: setting key "fs.file-max": Read-only file system
sysctl: setting key "fs.file-max": Read-only file system
error: oracle-xe-11.2.0-1.0.x86_64: install failed

[2016-12-29 06:44] gvenzl commented on #245
Those errors are epxected but should bring the build to fail. Please provide the entire build log.

[2016-12-29 09:48] gkgeorgiev commented on #244
I don't know what happened, but when I deleted my /var/lib/docker and restarted the machine, it worked.... it remains a mystery. Anyway, it works so it doesn't really matter.

[2016-12-29 09:48] #244 closed

[2016-12-30 10:12] ggrimbert opened #246 "Cannot start OracleDB image"
Hi,

I have create a docker image for Oracle DB 12.1.0.2 EE.

When I run the following command
[code]

I got the following logs :
[code]
And the container is down.

After some researches, i defined the ORACLE_HOME to : /opt/oracle/product/12.1.0.2/dbhome_1

Now I have the following :
[code]
The container is now running.

But when I try to connect with SqlPlus I get : ``` ORA-12162: TNS:net service

[2017-01-03 06:27] guruwiz commented on #62
Hi, You should check a  jar in JRE directory. In my case, I got the same problem when I downloaded a server-jre-8u112-linux-x64.tar.gz which didn't include jar file

[2017-01-03 09:37] odedia commented on #235
I was able to resolve the above issue by building the Oracle Java 8 from this very git repo before running Oracle Tuxedo.

I recommend to update or remove 12.1.3 and also to update the documentation to describe this dependency.

Thanks for all the help!

[2017-01-03 15:34] ashishWaghmare opened #248 "Orale Database Image Not building from master"
Removing intermediate container 8662d647e7f5
Step 11 : RUN $ORACLE_BASE/oraInventory/orainstRoot.sh &&     $ORACLE_HOME/root.sh &&     rm -rf $INSTALL_DIR
 ---> Running in ab1fe5200423
/bin/sh: _**/opt/oracle/oraInventory/orainstRoot.sh: No such file or directory**_
Removing intermediate container ab1fe5200423
The command '/bin/sh -c $ORACLE_BASE/oraInventory/orainstRoot.sh &&     $ORACLE_HOME/roo

[2017-01-04 05:04] gvenzl commented on #248
Can you please provide the output of the entire build log? Thanks!

[2017-01-04 05:28] gvenzl commented on #246
Your database is not created correctly during the startup of the container as indicated by:

Does the container start successfully if you omit the following and use the default?

[2017-01-04 07:57] ggrimbert commented on #246
After reinstalling / pulling everything and without the -e parameters, it works.

[2017-01-04 09:37] ashishWaghmare commented on #248
Skipping installation of utils/xsubpp man page.
Skipping installation of x2p/a2p.pod man page.
Skipping installation of x2p/find2perl man page.
Skipping installation of x2p/s2p man page.
[0mmake[1]: Leaving directory `/opt/oracle/install/perl-5.14.1'
[91mcp: cannot stat '../perl.old/lib/': No such file or directory
[0m[91mcp: cannot stat '../perl.old/man/': No such file or directory
[0m[91mc

[2017-01-04 17:16] gvenzl commented on #246
I think the error is related to the length of the ORACLE_SID, in your example it exceeded 8 bytes which would work if those first 8 bytes would be unique. I'll do additional testing and see whether I'm right and if so whether I can add a check to prevent this.

[2017-01-04 17:16] gvenzl commented on #246
I leave this open for now for tracking purposes.

[2017-01-04 21:01] gvenzl commented on #246
Ok, the error is actually the `_` of the ORACLE_SID. The first 12 characters of the ORACLE_SID must be alphanumeric. I've added a check that will only allow alphanumeric characters for the ORACLE_SID

[2017-01-04 22:34] gvenzl commented on #248
The **entire** build log please. I believe that the root cause is further above during the build process.

[2017-01-05 00:27] gvenzl commented on #246
Fixed.

[2017-01-05 00:27] #246 closed

[2017-01-05 11:15] hynd opened #251 "Oracle Linux update/latest repos"
Hello!

I've been using the wonderful oraclelinux Docker images (thanks!) for building some packages.

In some cases, i pick a specific update version (say, oraclelinux:6.7).  It looks like the rootfs is created from a "ol6_latest/$releasever" repo, and the Yum repos are then configured with "latest" enabled.  That's been OK in most cases, and i can usually just switch the enabled repos to avoid p

[2017-01-05 12:42] ashishWaghmare commented on #248
Fixed issue by raising dm.basesize from 10G to 20G. Default 10G is easily exhausted with new updates
Original Disk Space
`/dev/mapper/docker-202:3-6292050-ae5dd53b9a8ed0232f04ef48a34632947f74e1714cc611d510ed540f2b7fc294   10G  3.2G  6.9G  32% /`

[code]

[2017-01-05 12:42] #248 closed

[2017-01-05 19:19] Djelibeybi commented on #251
The images were created (and updated) at particular points in time, they're not base 6.x images. That means, the 6.7 image was kept up-to-date for the duration of the 6.7 lifetime and includes updated packages. Once 6.8 was released, the 6.7 image stopped being updated.

Likewise, we continually update the current (`6, 6.8, latest`) image with CVEs, so it's kept as up-to-date and secure as possibl

[2017-01-05 19:19] #251 closed

[2017-01-06 13:07] yahonda commented on #199
Hi,

I'm maintaining a Ruby on Rails ActiveRecord database connection adapter for Oracle database called Oracle enhanced adapter.

As of right now, I have manually installed Oracle 12c database instance to test it.
I'm thinking about to migrate it to Oracle 12c database running on Docker,  then I got the original error below. It is reported as https://github.com/rsim/oracle-enhanced/issues/1130 .

[2017-01-06 22:05] #245 closed

[2017-01-09 19:43] dkaplan-pivotal opened #252 "Update the documentation to include where to download the oracle binaries"
[The documentation](https://github.com/oracle/docker-images/tree/master/OracleDatabase) says `IMPORTANT: You will have to provide the installation binaries of Oracle Database and put them into the dockerfiles/<version> folder. `  Can you provide links to these binaries in the documentation?

[2017-01-10 20:49] brunoborges commented on #245
Closed due to lack of more information.

[2017-01-11 00:20] gvenzl commented on #252
Fixed

[2017-01-11 00:20] #252 closed

[2017-01-11 00:20] Djelibeybi commented on #241
We don't support ZFS on Oracle Linux at all, so this is a completely unsupported environment.

[2017-01-11 23:56] #241 closed

[2017-01-12 20:05] odedia opened #255 ""SHARED MEMORY DOES NOT EXIST" error after container stop/start"
Hi,

I am testing a docker setup with Oracle 12 ee.

I am able to run the initial docker container, connect via bash and then SQLPlus, create a schema, add users, etc. All is well.

Then I am stopping the container (the purpose is to commit the container to a new image with my initial setup).

If I try to run the container again, either with docker start <container> or by deleting the container an

[2017-01-12 23:25] gvenzl commented on #255
The error indicates hat your database is not running. Please provide the output of the log once you started the container.

[2017-01-13 22:43] davidkarlsen commented on #255
Be sure to provide enough shared memory (eg. SGA space) for the db.

[2017-01-14 01:36] #255 closed

[2017-01-18 10:10] demogorgonz opened #257 "Licensing Oracle Database on Docker"
Hello,

Can you tell me more about licencing of oracle in docker environment ? I couldn't find any official resources online.

[2017-01-18 18:54] brunoborges commented on #257
You didn't find because there isn't anything special about how Oracle Database, nor any other Oracle product is licensed when running inside a Docker container. The process still runs on top of the host kernel, which means you must license the host.

[2017-01-18 18:54] #257 closed

[2017-01-18 21:24] mriccell commented on #151
@jeroendewolf have you had a chance to try on 12.2.1.1 or 12.2.1.2 medrec sample?

[2017-01-18 21:29] mriccell commented on #174
@tonymwinters could you answer @brunoborges reqyest for step-by-step  you took when trying to use unpack ?

[2017-01-18 21:31] mriccell commented on #215
@nikeneo are you still experiencing the same exception or can I close this issue?

[2017-01-19 17:52] tonymwinters commented on #174
Yea hey sorry for the delay guys. I actually scrapped the idea a while ago but maybe you guys can still look at this. The modified dockerfile looked something like this:

`# Pull base image
# ---------------
FROM oracle/weblogic:12.1.3-developer

# Maintainer
# ----------
MAINTAINER Bruno Borges <bruno.borges@oracle.com>

# WLS Configuration
# -------------------------------
ARG ADMIN_PASSWORD
ENV

[2017-01-19 19:36] mriccell commented on #220
@MattAtTTU  Yes we can not persist the NodeManager password  in the OS environment or hard code it in the WLST script.  If you look at the 12.2.1.1 or 12.2.1.2 WebLogic scripts we dynamically generate the WLS Admin password when we run the container and use this password to set it in the nodemanager properties file, look at create-wls-domain.py.

[2017-01-19 19:48] mriccell commented on #215
closing issue due to lack of feedback.

[2017-01-19 19:48] #215 closed

[2017-01-19 19:57] mriccell commented on #151
Closing issue due to lack of feedback

[2017-01-19 19:57] #151 closed

[2017-01-19 20:06] MattAtTTU commented on #220
Ok.  Should the build argument for node manager password be removed from the Oracle HTTP Server Docker image documentation?

[2017-01-23 21:58] elutjen opened #259 "Question - Certs"
Are they any samples in adding certificates to Weblogic Managed Servers, Admin Server and Node Manger?  Would this be handled through server start arguments or through configuring the keystore/ssl properties upon creation?

[2017-01-24 17:47] brunoborges commented on #259
You will haveto check the WebLogic documentation. Go to https://docs.oracle.com/

[2017-01-24 17:47] #259 closed

[2017-01-25 03:07] neerolyte opened #260 "Document how to set the Oracle timezone"
I spent a while chasing the best way to set the DB timezone, but it seems like simply configuring the timezone for the OS when running a container for the first time works great:

[code]

It'd be great to note this in the readme.

[2017-01-25 13:51] pvsmadhukar opened #261 "Enable ORDS 3.0 or later"
Support for ORDS 3.0 or later along with the default configuration.
If not provide instructions to configure ORDS on docker.

[2017-01-25 15:49] gvenzl commented on #199
Indeed, we can see the need for that. The newer patches also require a new version of the `OPatch` utility which will also have to be downloaded at least once and provided one.
Given that patches do change the binaries in the ORACLE_HOME and the proliferation of different needs for different patches, users will have to create their own patched image off the base image. I'll look into providing a s